Spark setup

In [ ]:
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install --upgrade pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 82kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 18.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=f0adde9310e2057018829ce563fc88f6b0eaada18600a9ed08bb999119367b2f
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
#!sudo apt update

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-1.8.0-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--packages io.delta:delta-core_2.11:0.5.0 pyspark-shell"
import findspark
findspark.init()
import pyspark 
from pyspark.sql.types import *
from pyspark.sql import SparkSession
import pandas 
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
def read_tsv(file_path: str, header: str = "true"):
    df = spark.read.options(inferSchema="true", header="true",sep="\t").csv(spark.read.text(file_path).limit(100000).rdd.flatMap(lambda x: x))
    return df

In [ ]:
def GenerateGraphResponse(client, id_, col_name, DB,user_id, date_col, window):
    coll = db.db.GraphResponse
    val_2 = coll.find_one({"id_": id_, "col_name": col_name}, {"response": 1})
    if val_2:
        return val_2["response"]
    else:
        val = extract_data(id_)
        print(val)
        resp = GenerateGraphs(client, val["sourcePath"], predict_col, DB,user_id,date_col,window)
        main_dic = {"id_": id_, "col_name": col_name, "response": resp}
        coll.insert(main_dic)
        return resp

In [ ]:
 def post(self):
        data = request.json
        a=get_jwt_identity()
        filepath = getSourcePath(data['data_path'])
        coll = db.db.ModelCollection
        al = coll.find_one({"data_id" : data['data_path']})
        if al is None :
            coll.insert({"data_id" : data['data_path'],'flag':0,"is_deleted":0})
        else:
            coll.update_one({"data_id" : data['data_path']} , {"$set":{"flag" : 0 }})
        model_name = data['model_name']
        data["user_id"] = a['user_id']
        params={"data_id":data['data_path']}
        version  = sessions.run_method(user_id=a['user_id'], transformation_name='Instancerow',input_kwargs=params)
        if data['toggle'] == "True":
            params = {"user_id":a['user_id'],"data_path":filepath,"toggle":data['toggle'],"predict_col":data['predict_col'] ,"retrain":data["retrain"],"data_id":data['data_path'],"submit_type":0,"model_name":model_name,'model':'string'}
            resp_ = sessions.run_method(user_id=a['user_id'], transformation_name='EverythingIntoOne', input_kwargs=params)
            resp=db.db.MLMODEL.find_one({"data_id":data['data_path']})
            if resp["Status"] == 200:
                host , user , password , domain = get_clickhouse_details_user_id(a['user_id'])
                client = Client(host,
                user=user,
                password=password)
                url=str(request.base_url).split("v1/")[0] + "v1/" + "Instances/ManualColumnSelect"
                date_col=json.loads(db.db.Inbound_Outbound.find_one({"type":url,"user_id" :user_id},sort=[('Date', -1)])["Request"].replace("'",'"'))["date_col"]

In [ ]:
path = "oss://ai-surge-dev-oss/surge-queryslice/ai_surge_com_mt/support/public_project/Churn_latest_modifed_test_dojo"

In [ ]:
bucket = path.split("/")[2]
bucket

'ai-surge-dev-oss'

In [ ]:
data = read_tsv(file_path)
data.show()

+----------+-----+----------------+-------------+
|CategoryID|Level|ParentCategoryID|SubcategoryID|
+----------+-----+----------------+-------------+
|         0|    1|              10|           45|
|         1|    2|               9|           45|
|         2|    3|              12|            5|
|         3|    3|               9|           25|
|         4|    3|               2|           39|
|         5|    3|               2|           35|
|         6|    3|               4|           53|
|         7|    2|               2|           45|
|         8|    3|               2|           31|
|         9|    3|               9|           18|
|        10|    3|               8|           21|
|        11|    3|               3|           16|
|        12|    2|               6|           45|
|        13|    3|              12|           52|
|        14|    3|               6|           15|
|        15|    3|               2|           49|
|        16|    3|               2|           34|
|        17|    2|              12|           45|
|        18|    3|               2|           30|
|        19|    3|               4|           38|
+----------+-----+----------------+-------------+
only showing top 20 rows

In [ ]:
def read_csv(file_path, header="true"):
    df = spark.read.format("csv") \
        .option("inferSchema", "true") \
        .option("header", header) \
        .option("sep", ",") \
        .load(file_path)
    return df
    
def read_tsv(file_path : str , header : str= "true"):
    df = spark.read.format("csv") \
    .option("inferSchema", "true") \
    .option("header", header) \
    .option("sep", "\t") \
    .load(file_path)
    return df

def read_json(file_path : str , header : str= "true"):
    df = spark.read.format("json") \
    .option("inferSchema", "true") \
    .option("header", header) \
    .option("multiLine","true") \
    .load(file_path)
    return df

def read_parquet(file_path : str , header : str= "true"):
    df = spark.read.format("parquet") \
    .option("inferSchema", "true") \
    .option("header", header) \
    .load(file_path)
    return df

def read_excel(file_path : str , header : str= "true"):
    df = spark.read.format("com.crealytics.spark.excel") \
    .option("inferSchema", "true") \
    .option("header", header) \
    .load(file_path)
    return df

In [ ]:
file_path = "/content/Category.tsv"

In [ ]:
df = spark.read.options(inferSchema="true", header="true",sep="\t").csv(spark.read.text(file_path).limit(100000).rdd.flatMap(lambda x: x))

In [ ]:
df.show()

+----------+-----+----------------+-------------+
|CategoryID|Level|ParentCategoryID|SubcategoryID|
+----------+-----+----------------+-------------+
|         0|    1|              10|           45|
|         1|    2|               9|           45|
|         2|    3|              12|            5|
|         3|    3|               9|           25|
|         4|    3|               2|           39|
|         5|    3|               2|           35|
|         6|    3|               4|           53|
|         7|    2|               2|           45|
|         8|    3|               2|           31|
|         9|    3|               9|           18|
|        10|    3|               8|           21|
|        11|    3|               3|           16|
|        12|    2|               6|           45|
|        13|    3|              12|           52|
|        14|    3|               6|           15|
|        15|    3|               2|           49|
|        16|    3|               2|           34|
|        17|    2|              12|           45|
|        18|    3|               2|           30|
|        19|    3|               4|           38|
+----------+-----+----------------+-------------+
only showing top 20 rows

In [ ]:
import os 
import pyspark
from pyspark.sql.types import *
from pyspark.sql.types import datetime
import datetime as dt
import numpy as np
import string
import more_itertools as mit
import spark_utils
from spark_utils import write_csv_as_delta,read_delta,read_csv,write_delta,getMode,getMean,getDate,read_delta
from pyspark.sql.functions import *
import re
from collections import Counter

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import DateType , IntegerType , FloatType , StringType
from datetime import datetime 
import datetime
from collections import Counter
from pyspark.sql.functions import to_date
import re
from collections import Counter
from datetime import datetime

In [ ]:
from pyspark.sql.functions import monotonically_increasing_id , desc, row_number
from pyspark.sql.window import Window

In [ ]:
import pandas as pd
df = pd.read_csv("/content/Churn_Modelling.csv")
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
write_csv_as_delta("/content/duplicatedata.csv")

In [ ]:
data = read_delta("/content/duplicatedata")

In [ ]:
data.columns

['Id0',
 'Id1',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

In [ ]:
df = data.loc[:,~data.columns.duplicated()]

AttributeError: ignored

In [ ]:
def read_dataframe_chunks(data , chunk_size = 10000 , start_id = 0):
    id_col = data.columns[-1]
    max_id = data.select([max(id_col)]).collect()[0][0]
    for id_ in range(start_id , max_id , chunk_size):
        chunk_data = data.filter((col(id_col) >= id_) & (col(id_col) <= id_ + chunk_size - 1))
        yield chunk_data.select(data.columns[:-1])

In [ ]:
def add_index(data):
    if "__id__" not in data.columns:
        data = data.withColumn("_id_",monotonically_increasing_id())
        data = data.withColumn("__id__", row_number().over(Window.orderBy(col('_id_'))) - 1)
    else :
        data = data.withColumn("_id_",monotonically_increasing_id())
        data = data.withColumn("__id__", row_number().over(Window.orderBy(col('_id_'))) - 1)
    data = data.drop(col("_id_"))
    return data

In [ ]:
def ValidateVersion_Old(client ,data_path , version , DB , table_name):
    client.execute(f'USE {DB}')
    data = read_delta_version(data_path , version)
    data = add_index(data)
    id_col = data.columns[-1]
    max_id = data.select([max(id_col)]).collect()[0][0]
    version_vals = client.execute(f"SELECT COUNT(*) FROM {table_name} WHERE __version__ = {version}")[0][0]
    if max_id + 1 == version_vals :
        return True , None
    else :
        return False , version_vals

In [ ]:
for chunk_df in read_dataframe_chunks(data , start_id = continue_from):
    print(chunk_df)

In [ ]:
data = add_index(data)

In [ ]:
data.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|__id__|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|     0|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|     1|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|     2|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|     3|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|     4|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|     5|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|     6|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|     7|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|     8|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|     9|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|    10|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|    11|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|    12|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|    13|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|    14|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|    15|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|    16|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|    17|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|    18|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|    19|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+------+
only showing top 20 rows

In [ ]:
df=spark.createDataFrame([(1,'has','kiran',11,0,1),(2,'working1','kiran',10,20,1),(2,'working1','kiran',10,20,1)],['id','products','brands','margin','total_sale','target'])
 
Out[39]: "df=spark.createDataFrame([(8,'biscuits','kirancisi',11,500,1)],['id','products','brands','margin','total_sale','target'])"

In [ ]:
df.show()

+---+--------+------+------+----------+------+
| id|products|brands|margin|total_sale|target|
+---+--------+------+------+----------+------+
|  1|     has| kiran|    11|         0|     1|
|  2|working1| kiran|    10|        20|     1|
|  2|working1| kiran|    10|        20|     1|
+---+--------+------+------+----------+------+

In [ ]:
from pyspark.sql.window import Window as W
from pyspark.sql import functions as F
 
windowSpec = W.partitionBy("id","products","brands").orderBy("id","products","brands")
df.withColumn("new_column", F.row_number().over(windowSpec)).show()

+---+--------+------+------+----------+------+----------+
| id|products|brands|margin|total_sale|target|new_column|
+---+--------+------+------+----------+------+----------+
|  1|     has| kiran|    11|         0|     1|         1|
|  2|working1| kiran|    10|        20|     1|         1|
|  2|working1| kiran|    10|        20|     1|         2|
+---+--------+------+------+----------+------+----------+

In [ ]:
 
from pyspark.sql import Window
 
window = Window.orderBy(F.col('id'))
df_final = df.withColumn('primary_key', F.row_number().over(window))
#df_final.show()
from pyspark.sql import functions as F
df_pri=df_final.select(F.concat_ws('_','id','products','brands','primary_key').alias('primary_'))
df_pri.show()
df_final.show()
 
#a=append_dfs(df_final,df_pri)
d1 = df_pri.select("*").toPandas()
d2 = df_final.select("*").toPandas()

+------------------+
|          primary_|
+------------------+
|     1_has_kiran_1|
|2_working1_kiran_2|
|2_working1_kiran_3|
+------------------+

+---+--------+------+------+----------+------+-----------+
| id|products|brands|margin|total_sale|target|primary_key|
+---+--------+------+------+----------+------+-----------+
|  1|     has| kiran|    11|         0|     1|          1|
|  2|working1| kiran|    10|        20|     1|          2|
|  2|working1| kiran|    10|        20|     1|          3|
+---+--------+------+------+----------+------+-----------+

In [ ]:
d2["Primary"] = d1["primary_"]

In [ ]:
data = d2.drop("primary_key",axis = 1)

In [ ]:
data.head()

   id  products brands  margin  total_sale  target             Primary
0   1       has  kiran      11           0       1       1_has_kiran_1
1   2  working1  kiran      10          20       1  2_working1_kiran_2
2   2  working1  kiran      10          20       1  2_working1_kiran_3

In [ ]:
df=spark.createDataFrame(data)

In [ ]:
df.show()

+---+--------+------+------+----------+------+------------------+
| id|products|brands|margin|total_sale|target|           Primary|
+---+--------+------+------+----------+------+------------------+
|  1|     has| kiran|    11|         0|     1|     1_has_kiran_1|
|  2|working1| kiran|    10|        20|     1|2_working1_kiran_2|
|  2|working1| kiran|    10|        20|     1|2_working1_kiran_3|
+---+--------+------+------+----------+------+------------------+

In [ ]:
write_csv_as_delta("/content/Iris_new_small.csv")

In [ ]:
df = read_delta("/content/Iris_new_small")

In [ ]:
df.show()

+----+-------------+------------+-------------+------------+-----------+
|  Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+----+-------------+------------+-------------+------------+-----------+
|   1|          5.1|        null|          1.4|         0.2|Iris-setosa|
|   2|          4.9|           3|          1.4|         0.2|Iris-setosa|
|null|          4.7|           #|          1.3|         0.2|Iris-setosa|
|   4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|   5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
+----+-------------+------------+-------------+------------+-----------+

In [ ]:
df = df.filter(df["SepalWidthCm"]. isNotNull()).count()

In [ ]:
df

4

In [ ]:
import pandas as pd
new_col = pd.date_range(start='2010-04-24', end='2019-11-27', periods=7)

In [ ]:
ddata = df.select("*").toPandas()

In [ ]:
ddata.head()

   Id        date  Id.1  ...  PetalLengthCm  PetalWidthCm      Species
0   1   4/24/2010     1  ...            1.4           0.2  Iris-setosa
1   2  11/29/2011     2  ...            1.4           0.2  Iris-setosa
2   2    7/5/2013     2  ...            1.4           0.2  Iris-setosa
3   2    2/9/2015     2  ...            1.4           0.2  Iris-setosa
4   3   9/15/2016     3  ...            1.3           0.2  Iris-setosa

[5 rows x 8 columns]

In [ ]:
datta = ddata.drop('date',axis=1)

In [ ]:
ddata.insert(1,"Date",new_col,True)

In [ ]:
ddata.head()

   Id        date  Id.1  ...  PetalLengthCm  PetalWidthCm      Species
0   1  2010-04-24     1  ...            1.4           0.2  Iris-setosa
1   2  2011-11-29     2  ...            1.4           0.2  Iris-setosa
2   2  2013-07-05     2  ...            1.4           0.2  Iris-setosa
3   2  2015-02-09     2  ...            1.4           0.2  Iris-setosa
4   3  2016-09-15     3  ...            1.3           0.2  Iris-setosa

[5 rows x 8 columns]

In [ ]:
spark_df = spark.createDataFrame(ddata)

In [ ]:
spark_df.show()

+---+----------+----+-------------+------------+-------------+------------+-----------+
| Id|      date|Id.1|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+----------+----+-------------+------------+-------------+------------+-----------+
|  1|2010-04-24|   1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|
|  2|2011-11-29|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  2|2013-07-05|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  2|2015-02-09|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|2016-09-15|   3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
|  4|2018-04-22|   4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|  5|2019-11-27|   5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
+---+----------+----+-------------+------------+-------------+------------+-----------+

In [ ]:
spark_df.dtypes

[('Id', 'bigint'),
 ('date', 'date'),
 ('Id.1', 'bigint'),
 ('SepalLengthCm', 'double'),
 ('SepalWidthCm', 'double'),
 ('PetalLengthCm', 'double'),
 ('PetalWidthCm', 'double'),
 ('Species', 'string')]

In [ ]:
ddata['date'] = pd.to_datetime(ddata['date']).dt.date

In [ ]:
data = spark_df.withColumn("date" , to_date(spark_df["date"]).alias("date"))

In [ ]:
spark_df.withColumn("date",date_format(spark_df["date"],"dd/MM/yyy").alias("date"))

In [ ]:
from pyspark.sql.functions import date_format,col

In [ ]:
spark_df.select("date",date_format(col("date"),"dd/MM/yyy")).alias("date").show()

+----------+----------------------------+
|      date|date_format(date, dd/MM/yyy)|
+----------+----------------------------+
|2010-04-24|                  24/04/2010|
|2011-11-29|                  29/11/2011|
|2013-07-05|                  05/07/2013|
|2015-02-09|                  09/02/2015|
|2016-09-15|                  15/09/2016|
|2018-04-22|                  22/04/2018|
|2019-11-27|                  27/11/2019|
+----------+----------------------------+

In [ ]:
def getAll_date_Nulls(data,null_dict,col_name):
     null_date = data.select([count(when(col(c).isNull(), c)).alias(c) for (c, c_type) in data.dtypes])
     resp = null_date.first()
     main_resp = resp.asDict()
     null_dict[col_name] = main_resp[col_name]
     return null_dict

def getAllNulls(data):
    null_data = data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for (c, c_type) in data.dtypes if
    c_type not in ('boolean', 'timestamp', 'date')])
    ret = null_data.first()
    return ret.asDict()


def RegMatch(item: str, pattern: str) -> bool:
    return re.match(pattern, item) is not None


def RegMatchApply(items: list, pattern: str) -> bool:
    # outputs = Parallel(n_jobs=2, backend=backend)(delayed(RegMatch)(item , pattern) for item in items)
    outputs = []
    for item in items:
        outputs.append(RegMatch(item, pattern))
    indexes = np.where(np.array(outputs) == False)
    return len(indexes[0]) == 0, indexes


def CheckNoise(data, column):
    data2 = data.withColumn("dummy", col(column).rlike('[@_!#$%^&*()<>?/\|}{~:�]'))
    if data2.filter(data2["dummy"] == True).count() > 0:
        return True
    else:
        return False


def CheckInt(data, col_name):
    vals = list(filter(lambda a: a != "None", data))
    return RegMatchApply(vals, "^\d+$")[0]


def CheckFloat(data, col_name):
    vals = list(filter(lambda a: a != "None", data))
    return RegMatchApply(vals, "^[-+]?[0-9]*[.][0-9]+$")[0]


def CouldBeDate(data, col_name):
    date_data = list(map(lambda x: getDate(x), data))
    occurence_counter = Counter(date_data)
    date_format = occurence_counter.most_common(1)[0][0]
    return date_format != None


def makeFormat(data, lis: list):
    final_lis = []
    for li in lis:
        final_lis.append({"Column": li, "ColVals": example(data, li)})
    return final_lis


def makeFormat3(lis: list, lis1: list, lis2: list):
    output = []
    for i, j, k in zip(lis, lis1, lis2):
        if k in ["IntegerType", "FloatType", "DoubleType"]:
            output.append({"Column": i, "ColName": j, "ColType": k, "tooltip": "Nulls will be replaced with Mean/Mode"})
        else:
            output.append({"Column": i, "ColName": j, "ColType": k, "tooltip": "Nulls will be replaced with Mode"})
    return output


def makeFormat4(data, lis: list):
    output = []
    # print(val)
    for col in lis:
        # print(list(map(lambda x : x[0],data.select(col).limit(5).collect())))
        val = list(map(lambda x: str(x[0]), data.select(col).limit(5).collect()))
        output.append({"ColName": col, "ColVals": val})
    return output


def makeFormat2(lis: list, lis2: list):
    final_lis = []
    for li, li2 in zip(lis, lis2):
        final_lis.append({"Column": li, "ColName": li2})
    return final_lis


def example(data, col_name):
    a = data.select(col_name, col(col_name).rlike('[@_!#$%^&*()<>?/\|}{~:]')).collect()[:5]
    new_vals = []
    for val in a:
        if val[1]:
            new_vals.append(val[0])
    return new_vals


def extract_data(id_: str):
    collection = db.Ingestion
    collection2 = db.JoinsColl
    val = collection.find_one({"_id": ObjectId(id_)}, {"sourcePath": 1})
    if val is not None:
        return val
    else:
        val = collection2.find_one({"_id": ObjectId(id_)}, {"sourcePath": 1})
        return val


def check_tokenized(vals: list):
    bools = list(map(lambda x: len(x) == 64, vals))
    if len(bools) == 0:
        return True
    if bools[0] and bools[-1]:
        return bools[1:] == bools[:-1]
    return False


def getTopValues(data, col_name: str):
    val = data.limit(20).select(col_name).collect()[:20]
    # print(val)
    val = list(map(lambda x: x[0], val))
    # print(val)
    return val


def valdate_match(pattern, items):
    out = 0
    # print(items)
    for item in items:
        if item != None:
            # print(item)
            z = re.match(pattern, item)
            if z:
                out += 1
    # print(out)
    if out != 0:
        return True


def check_mailCols(data, col_name):
    data2 = data.withColumn("dummy", col(col_name).rlike('^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$'))
    count = data2.filter(data2["dummy"] == False).count()
    # print(count)
    if count > 0:
        return True, count
    else:
        return False


def Standardization(data, total_count, null_dict):
    result = []
    mail_list = []
    temp = {}
    columns = data.columns
    for col in columns:
        if str(data.schema[col].dataType) == "StringType" and null_dict[col] != total_count:
            top_5 = getTopValues(data, col)
            # print(top_5)
            if valdate_match('^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$', top_5):
                mail_list.append(col)
    # print(mail_list)
    for cols in mail_list:
        bool_, c = check_mailCols(data, cols)
        # print(bool_ , c)
        if bool_:
            temp['ColName'] = cols
            temp['Count'] = c
            result.append(temp)
    return result


def predict_sensitivity(data):
    data = data.limit(10000)
    data = data.select("*").toPandas()
    data = data.dropna()
    data = data.head(200)
    data_len = len(data)
    cols = data.columns
    cols_to_preds = {}
    cols_to_ret = {}
    for col in cols:
        # if str(data.schema[col_name].dataType) not in ["DateType" , "TimestampType"]:
        vals = data[col].values.astype("str")
        if check_tokenized(vals):
            continue
        cols_to_preds[col] = []
        for val in vals:
            doc = model(str(col + " " + val))
            try:
                cols_to_preds[col].append(doc.ents[-1].label_)
            except:
                continue
    for col_name, val in cols_to_preds.items():
        if len(val) / data_len > 0.5:
            m_v = mode(val)[0][0]
            cols_to_ret[col_name] = m_v
        else:
            continue
    cols_to_ret_filt = {}
    for col, pred in cols_to_ret.items():
        if pred == "S":
            cols_to_ret_filt[col] = pred
    return list(cols_to_ret_filt.keys())


#from spark_utils import return_filtered, return_text_time, CheckIfExists

In [ ]:
df.show()

+---+---------+---------+----------+-------------------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+-----------------+
|_c0|RowNumber|     date|CustomerId|National_Insurance_number|     Credit_Card_No|  Surname|CreditScore|Geography|Gender| Age|Tenure|   Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|payment_mode|           mailId|
+---+---------+---------+----------+-------------------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+-----------------+
|  0|        1|4/24/2010|  15634602|            EJ 87 23 16 H|6518 2286 9458 0302| Hargrave|        619|   France|Female|  42|     2|      0.0$|            1|        1|             1|     101348.88$|     1| credit_card|       hello#.com|
|  1|        2|4/24/2010|  15647311|            OL 43 31 62 W|1895 4190 0493 2177|     Hill|        608|    Spain|Female|  41|     1| 83807.86$|            1|        0|             1|     112542.58$|     0|  debit_card|       hello#.com|
|  2|        3|4/24/2010|  15619304|            SP 19 16 08 Z|7391 2068 7721 4726|     Onio|        502|   France|Female|  42|     8| 159660.8$|            3|        1|             0|     113931.57$|     1| credit_card|       hello#.com|
|  3|        4|4/25/2010|  15701354|            BL 75 04 39 Q|8863 3167 4447 6130|     Boni|        699|   France|Female|null|     1|      0.0$|            2|        0|             0|      93826.63$|     0|  debit_card|abc.dei@qngf.noaj|
|  4|        5|4/25/2010|  15737888|            VJ 49 13 25 F|6042 7133 1005 8123| Mitchell|        850|    Spain|Female|  39|  null|125510.82$|    Venkatesh|        1|             1|       79084.1$|     0|  debit_card|       hello#.com|
|  5|        6|4/25/2010|  15574012|            LI 01 30 98 Q|4425 9932 7939 1867|      Chu|       Teja|    Spain|  Male|null|     8|113755.78$|            2|        1|             0|     149756.71$|     1|  debit_card|abc.dek@qngt.oulx|
|  6|        7|4/26/2010|  15592531|            EQ 03 89 69 M|7794 1734 3408 3103| Bartlett|        822|   France|  Male|  50|  null|      0.0$|            2|        1|             1|       10062.8$|     0| credit_card|abc.del@qngr.npiz|
|  7|        8|4/26/2010|  15656148|            RA 20 76 44 N|7862 7332 2009 7097|   Obinna|        376|  Germany|Female|  29|     4|115046.74$|            4|        1|             0|     119346.88$|     1| credit_card|       hello#.com|
|  8|        9|4/26/2010|  15792365|            XX 88 51 05 C|0985 3441 5947 6664|       He|        501|   France|  Male|  44|     4|142051.07$|            2|        0|             1|       74940.5$|     0|  debit_card|       hello#.com|
|  9|       10|4/27/2010|  15592389|            HF 10 25 99 E|7783 3046 1162 8870|       H?|        684|   France|  Male|  27|     2|134603.88$|            1|        1|             1|      71725.73$|     0|  debit_card|       hello#.com|
| 10|       11|4/27/2010|  15767821|            HR 79 79 37 T|4643 4252 8979 4317|   Bearce|        528|   France|  Male|null|  null|102016.72$|            2|        0|             0|      80181.12$|     0| credit_card| abc.dep@qngl.lym|
| 11|       12|4/27/2010|  15737173|            UL 84 05 44 Y|2148 3870 3474 5852|  Andrews|        497|    Spain|  Male|  24|  null|      0.0$|            2|        1|             0|      76390.01$|     0| credit_card|       hello#.com|
| 12|       13|4/28/2010|  15632264|            NY 23 39 00 W|5111 6254 4955 3485|      Kay|        476|   France|Female|  34|  null|      0.0$|            2|        1|             0|      26260.98$|     0| credit_card|       hello#.com|
| 13|       14|4/28/2010|  15691483|            UP 19 02 03 O|1813 2711 3855 5658|     Chin|        549|   France|Female|  34|     5|      0.0$|            2|        0|             0|     190857.79$|     0| credit_card|       hello#.com|
| 14|       15|4/28/2010|  15600882|            BC 81 86 38 Z|1855 9335 9147 1280|    Scott|        635|    Spain|Female|  34|     7|      0.0$|            2|        1|             1|      65951.65$|     0|  debit_card|       hello#.com|
| 15|       16|4/29/2010|  15643966|            OP 12 33 50 G|0486 0327 5429 1176|  Goforth|        616|  Germany|  Male|null|     3|143129.41$|            2|        0|             1|      64327.26$|     0|  debit_card| abc.deu@qngi.rsk|
| 16|       17|4/29/2010|  15737452|            WM 60 91 78 K|8079 7648 7959 1858|    Romeo|        653|  Germany|  Male|  58|     1|132602.88$|            1|        1|             0|       5097.67$|     1| credit_card|abc.dev@qngm.gopm|
| 17|       18|4/29/2010|  15788218|            MI 29 05 40 J|2375 4679 8792 5009|Henderson|        549|    Spain|Female|  24|     9|      0.0$|            2|        1|             1|      14406.41$|     0|  debit_card|       hello#.com|
| 18|       19|4/30/2010|  15661507|            JM 62 01 40 X|3144 4069 0205 9336|  Muldrow|        587|    Spain|  Male|  45|     6|      0.0$|            1|        0|             0|     158684.81$|     0| credit_card|       hello#.com|
| 19|       20|4/30/2010|  15568982|            IR 51 70 14 X|5284 8662 0654 4079|  Hao%^&&|        726|   France|Female|  24|     6|      0.0$|            2|        1|             1|      54724.03$|     0| credit_card|       hello#.com|
+---+---------+---------+----------+-------------------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+-----------------+
only showing top 20 rows

In [ ]:
spark_df = df.orderBy(rand()).limit(10)

In [ ]:
spark_df.show()

+----+---------+----------+----------+-------------------------+-------------------+-------------+-----------+---------+------+---+------+----------+-------------+---------+--------------+---------------+------+------------+----------------+
| _c0|RowNumber|      date|CustomerId|National_Insurance_number|     Credit_Card_No|      Surname|CreditScore|Geography|Gender|Age|Tenure|   Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|payment_mode|          mailId|
+----+---------+----------+----------+-------------------------+-------------------+-------------+-----------+---------+------+---+------+----------+-------------+---------+--------------+---------------+------+------------+----------------+
|8526|     8527| 6/28/2018|  15768945|            CU 81 76 20 D|2526 8756 9010 8618|     Chibueze|        627|   France|  Male| 27|     1|  62092.9$|            1|        1|             1|     105887.04$|     0| credit_card|      hello#.com|
|9005|     9006|12/13/2018|  15802823|            XQ 04 55 65 D|9943 4080 7157 3802|      Maclean|        745|    Spain|Female| 38|     7|      0.0$|            2|        1|             1|     194230.82$|     0|  debit_card|      hello#.com|
|7481|     7482| 6/27/2017|  15778589|            UU 95 81 20 R|0850 6463 8968 7404|      Collier|        626|   France|  Male| 34|     7| 113014.7$|            2|        1|             1|      56646.28$|     0| credit_card|      hello#.com|
|1253|     1254|  7/7/2011|  15699523|            DR 34 33 53 N|6108 2687 7948 1632|          Chu|        499|  Germany|Female| 55|     4|126817.65$|            2|        1|             0|     123269.71$|     0|  debit_card|abc.kos@qfly.ubk|
|7578|     7579| 7/31/2017|  15656417|            BY 81 43 87 K|0698 8118 4395 6663|        Marsh|        582|   France|Female| 39|     1|132077.48$|            2|        1|             0|     192255.15$|     0|  debit_card|      hello#.com|
|1672|     1673|11/30/2011|  15713854|            JM 21 14 01 Z|0163 2712 8599 2570|    Cremonesi|        513|   France|Female| 37|     6|      0.0$|            2|        1|             0|     110142.34$|     0| credit_card|      hello#.com|
| 665|      666|12/13/2010|  15645772|            YE 78 20 31 U|2123 1698 5097 0559|     Onwumelu|        661|   France|  Male| 33|     9|      0.0$|            2|        1|             1|      84174.81$|     0| credit_card|      hello#.com|
|6408|     6409| 6/16/2016|  15738497|            CF 16 98 85 Q|3203 4254 7735 5432|Chukwujamuike|        729|    Spain|  Male| 44|     4|107726.93$|            2|        1|             0|     153064.87$|     0| credit_card|      hello#.com|
|7561|     7562| 7/25/2017|  15700046|            AA 38 77 31 E|7997 3234 7142 6940|         Yuan|        635|   France|  Male| 41|     4|103544.88$|            2|        1|             0|     193746.55$|     0| credit_card|      hello#.com|
|2533|     2534| 9/27/2012|  15631838|            KK 08 38 27 Z|5349 0836 4796 4834|      Findlay|        606|   France|  Male| 61|     5|108166.09$|            2|        0|             1|       8643.21$|     0|  debit_card|abcdilt@ngmx.apj|
+----+---------+----------+----------+-------------------------+-------------------+-------------+-----------+---------+------+---+------+----------+-------------+---------+--------------+---------------+------+------------+----------------+

In [ ]:
def RepresentsInt(s):
    #return re.match(r"[0-9]", s) is not None
    return len(re.findall(r'[0-9]+', s)) > 0

def ConvertStringToNumeric(dataFrame , col_name , Int = True):
    vals = dataFrame.select(col_name).collect()[0:100]
    vals = list(map(lambda x : x[0] , vals))
    vals = [val for val in vals if val is not None]
    if len(vals) == 0:
        return  None , {"Status" : 400 , "Message" : "Too many Nulls , Handle them first !"}
    #vals = list(map(lambda x : RepresentsInt(x) , vals))
    #vals = Counter(vals)
    #if vals[True] < int(0.8*len(vals)) or vals[False] > int(0.8*len(vals)):
    #return None , {"Status" : 400 , "Message" : "String Objects contain less than 80% of Int Vals"}
    if Int :
        #dataFrame = dataFrame.withColumn(col_name , regexp_extract(col(col_name) , "\\d+" , 0))
        try :
            dataFrame = dataFrame.withColumn(col_name , dataFrame[col_name].cast(IntegerType()))
            write_delta(dataFrame,"/content/Noisy_churn")
            return dataFrame , {"Status" : 200 , "Message" : "String Objects Converted to Int"}
        except :
            return None , {"Status" : 400 , "Message" : "Column Cannot be converted into Int"}
    else :
        #dataFrame = dataFrame.withColumn(col_name , regexp_extract(col(col_name) , "\\d+(.[0-9]*)?" , 0))
        try :
            dataFrame = dataFrame.withColumn(col_name , dataFrame[col_name].cast(FloatType()))
            return dataFrame , {"Status" : 200 , "Message" : "String Objects Converted to Float"}
        except :
            return None , {"Status" : 400 , "Message" : "Column Cannot be converted into Int"}

In [ ]:
def FindAndReplace(data,col_name,find_val,replace_val):
    #file_path = kwargs['params']["data_path"]
    #col_name = kwargs['params']["col_name"]
    #find_val = kwargs['params']["find_val"]
    #replace_val = kwargs['params']["replace_val"]
    #try : 
        #data = read_delta(file_path)
    if col_name not in data.columns :
        return {"Status" : 201 , "Message" : "Couldn't find column name in Data"}
    if str(data.schema[col_name].dataType) in ["IntegerType" , "LongType"]:
        find_val = int(find_val)
        replace_val = int(replace_val)
        data = data.withColumn(col_name, when(data[col_name] == find_val, replace_val).otherwise(data[col_name]))

    elif str(data.schema[col_name].dataType) in  ["FloatType" , "DoubleType"]:
        find_val = float(find_val)
        replace_val = float(replace_val)
        data = data.withColumn(col_name, when(data[col_name] == find_val, replace_val).otherwise(data[col_name]))

    elif str(data.schema[col_name].dataType) in ["StringType" , "DateType"]:
        data = data.withColumn(col_name, when(data[col_name] == find_val, replace_val).otherwise(data[col_name]))
        data.show()
    write_delta(data,"/content/Noisy_churn")
    return {"Status" : 200 , "Message" : "Replacement Successful"}

In [ ]:
FindAndReplace(spark_df,"CreditScore","635","Teju")

+----+---------+----------+----------+-------------------------+-------------------+-------------+-----------+---------+------+---+------+----------+-------------+---------+--------------+---------------+------+------------+----------------+
| _c0|RowNumber|      date|CustomerId|National_Insurance_number|     Credit_Card_No|      Surname|CreditScore|Geography|Gender|Age|Tenure|   Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|payment_mode|          mailId|
+----+---------+----------+----------+-------------------------+-------------------+-------------+-----------+---------+------+---+------+----------+-------------+---------+--------------+---------------+------+------------+----------------+
|1253|     1254|  7/7/2011|  15699523|            DR 34 33 53 N|6108 2687 7948 1632|          Chu|        499|  Germany|Female| 55|     4|126817.65$|            2|        1|             0|     123269.71$|     0|  debit_card|abc.kos@qfly.ubk|
|9005|     9006|12/13/2018|  15802823|            XQ 04 55 65 D|9943 4080 7157 3802|      Maclean|        745|    Spain|Female| 38|     7|      0.0$|            2|        1|             1|     194230.82$|     0|  debit_card|      hello#.com|
|1672|     1673|11/30/2011|  15713854|            JM 21 14 01 Z|0163 2712 8599 2570|    Cremonesi|        513|   France|Female| 37|     6|      0.0$|            2|        1|             0|     110142.34$|     0| credit_card|      hello#.com|
|2533|     2534| 9/27/2012|  15631838|            KK 08 38 27 Z|5349 0836 4796 4834|      Findlay|        606|   France|  Male| 61|     5|108166.09$|            2|        0|             1|       8643.21$|     0|  debit_card|abcdilt@ngmx.apj|
|6408|     6409| 6/16/2016|  15738497|            CF 16 98 85 Q|3203 4254 7735 5432|Chukwujamuike|        729|    Spain|  Male| 44|     4|107726.93$|            2|        1|             0|     153064.87$|     0| credit_card|      hello#.com|
| 665|      666|12/13/2010|  15645772|            YE 78 20 31 U|2123 1698 5097 0559|     Onwumelu|        661|   France|  Male| 33|     9|      0.0$|            2|        1|             1|      84174.81$|     0| credit_card|      hello#.com|
|7481|     7482| 6/27/2017|  15778589|            UU 95 81 20 R|0850 6463 8968 7404|      Collier|        626|   France|  Male| 34|     7| 113014.7$|            2|        1|             1|      56646.28$|     0| credit_card|      hello#.com|
|7561|     7562| 7/25/2017|  15700046|            AA 38 77 31 E|7997 3234 7142 6940|         Yuan|       Teju|   France|  Male| 41|     4|103544.88$|            2|        1|             0|     193746.55$|     0| credit_card|      hello#.com|
|7578|     7579| 7/31/2017|  15656417|            BY 81 43 87 K|0698 8118 4395 6663|        Marsh|        582|   France|Female| 39|     1|132077.48$|            2|        1|             0|     192255.15$|     0|  debit_card|      hello#.com|
|8526|     8527| 6/28/2018|  15768945|            CU 81 76 20 D|2526 8756 9010 8618|     Chibueze|       mani|   France|  Male| 27|     1|  62092.9$|            1|        1|             1|     105887.04$|     0| credit_card|      hello#.com|
+----+---------+----------+----------+-------------------------+-------------------+-------------+-----------+---------+------+---+------+----------+-------------+---------+--------------+---------------+------+------------+----------------+

{'Message': 'Replacement Successful', 'Status': 200}

In [ ]:
write_csv_as_delta("/content/Iris_new.csv")

In [ ]:
df = read_delta("/content/iris_new")

In [ ]:
current_date = datetime.today().date()
data = df.withColumn('load_date', lit(current_date))

In [ ]:
data.dtypes

[('Id', 'int'),
 ('date', 'timestamp'),
 ('Id.1', 'int'),
 ('SepalLengthCm', 'double'),
 ('SepalWidthCm', 'double'),
 ('PetalLengthCm', 'double'),
 ('PetalWidthCm', 'double'),
 ('Species', 'string'),
 ('load_date', 'date')]

In [ ]:
#data = df.withColumn("date" , to_date(df["date"]).alias("date"))

In [ ]:
data.show()

+---+-------------------+----+-------------+------------+-------------+------------+-----------+----------+
| Id|               date|Id.1|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species| load_date|
+---+-------------------+----+-------------+------------+-------------+------------+-----------+----------+
|  1|2010-04-24 00:00:00|   1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|2021-04-17|
|  2|2011-11-29 00:00:00|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|2021-04-17|
|  2|2013-07-05 00:00:00|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|2021-04-17|
|  2|2015-02-09 00:00:00|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|2021-04-17|
|  3|2016-09-15 00:00:00|   3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|2021-04-17|
|  4|2018-04-22 00:00:00|   4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|2021-04-17|
|  5|2019-11-27 00:00:00|   5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|2021-04-17|
|  6|               null|   6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|2021-04-17|
+---+-------------------+----+-------------+------------+-------------+------------+-----------+----------+

In [ ]:
pandas_data_frame = data.select("*").toPandas()

In [ ]:
pandas_data_frame['load_date'] = pandas_data_frame['load_date'].astype(str)

In [ ]:
df = spark.createDataFrame(pandas_data_frame)

In [ ]:
data.show()

+---+-------------------+----+-------------+------------+-------------+------------+-----------+----------+
| Id|               date|Id.1|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species| load_date|
+---+-------------------+----+-------------+------------+-------------+------------+-----------+----------+
|  1|2010-04-24 00:00:00|   1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|2021-04-17|
|  2|2011-11-29 00:00:00|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|2021-04-17|
|  2|2013-07-05 00:00:00|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|2021-04-17|
|  2|2015-02-09 00:00:00|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|2021-04-17|
|  3|2016-09-15 00:00:00|   3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|2021-04-17|
|  4|2018-04-22 00:00:00|   4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|2021-04-17|
|  5|2019-11-27 00:00:00|   5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|2021-04-17|
|  6|               null|   6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|2021-04-17|
+---+-------------------+----+-------------+------------+-------------+------------+-----------+----------+

In [ ]:
import datetime
from datetime import datetime

In [ ]:
write_delta(data,"/content/iris_date")

In [ ]:
dt = read_delta('/content/iris_date')
dt.show()

+---+-------------------+----+-------------+------------+-------------+------------+-----------+----------+
| Id|               date|Id.1|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species| load_date|
+---+-------------------+----+-------------+------------+-------------+------------+-----------+----------+
|  1|2010-04-24 00:00:00|   1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|2021-04-17|
|  2|2011-11-29 00:00:00|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|2021-04-17|
|  2|2013-07-05 00:00:00|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|2021-04-17|
|  2|2015-02-09 00:00:00|   2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|2021-04-17|
|  3|2016-09-15 00:00:00|   3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|2021-04-17|
|  4|2018-04-22 00:00:00|   4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|2021-04-17|
|  5|2019-11-27 00:00:00|   5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|2021-04-17|
|  6|               null|   6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|2021-04-17|
+---+-------------------+----+-------------+------------+-------------+------------+-----------+----------+

In [ ]:
data.dtypes

[('Id', 'bigint'),
 ('date', 'date'),
 ('Id.1', 'bigint'),
 ('SepalLengthCm', 'double'),
 ('SepalWidthCm', 'double'),
 ('PetalLengthCm', 'double'),
 ('PetalWidthCm', 'double'),
 ('Species', 'string'),
 ('load_date', 'date')]

In [ ]:
ConvertStringToNumeric(df,'CreditScore')

(DataFrame[_c0: int, RowNumber: int, date: string, CustomerId: int, National_Insurance_number: string, Credit_Card_No: string, Surname: string, CreditScore: int, Geography: string, Gender: string, Age: int, Tenure: int, Balance: string, NumOfProducts: string, HasCrCard: int, IsActiveMember: int, EstimatedSalary: string, Exited: int, payment_mode: string, mailId: string],
 {'Message': 'String Objects Converted to Int', 'Status': 200})

In [ ]:
write_csv_as_delta("/content/Sales_Performance.csv")

In [ ]:
write_csv_as_delta("/content/PoS.csv")

In [ ]:
date_type = read_delta("/content/tet_date_type")

In [ ]:
write_csv_as_delta("/content/Noisy_churn.csv")

In [ ]:
noise = read_delta("/content/Noisy_churn")

In [ ]:
noise.show()

+---+---------+---------+----------+-------------------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+-----------------+
|_c0|RowNumber|     date|CustomerId|National_Insurance_number|     Credit_Card_No|  Surname|CreditScore|Geography|Gender| Age|Tenure|   Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|payment_mode|           mailId|
+---+---------+---------+----------+-------------------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+-----------------+
|  0|        1|4/24/2010|  15634602|            EJ 87 23 16 H|6518 2286 9458 0302| Hargrave|        619|   France|Female|  42|     2|      0.0$|            1|        1|             1|     101348.88$|     1| credit_card|       hello#.com|
|  1|        2|4/24/2010|  15647311|            OL 43 31 62 W|1895 4190 0493 2177|     Hill|        608|    Spain|Female|  41|     1| 83807.86$|            1|        0|             1|     112542.58$|     0|  debit_card|       hello#.com|
|  2|        3|4/24/2010|  15619304|            SP 19 16 08 Z|7391 2068 7721 4726|     Onio|        502|   France|Female|  42|     8| 159660.8$|            3|        1|             0|     113931.57$|     1| credit_card|       hello#.com|
|  3|        4|4/25/2010|  15701354|            BL 75 04 39 Q|8863 3167 4447 6130|     Boni|        699|   France|Female|null|     1|      0.0$|            2|        0|             0|      93826.63$|     0|  debit_card|abc.dei@qngf.noaj|
|  4|        5|4/25/2010|  15737888|            VJ 49 13 25 F|6042 7133 1005 8123| Mitchell|        850|    Spain|Female|  39|  null|125510.82$|    Venkatesh|        1|             1|       79084.1$|     0|  debit_card|       hello#.com|
|  5|        6|4/25/2010|  15574012|            LI 01 30 98 Q|4425 9932 7939 1867|      Chu|       Teja|    Spain|  Male|null|     8|113755.78$|            2|        1|             0|     149756.71$|     1|  debit_card|abc.dek@qngt.oulx|
|  6|        7|4/26/2010|  15592531|            EQ 03 89 69 M|7794 1734 3408 3103| Bartlett|        822|   France|  Male|  50|  null|      0.0$|            2|        1|             1|       10062.8$|     0| credit_card|abc.del@qngr.npiz|
|  7|        8|4/26/2010|  15656148|            RA 20 76 44 N|7862 7332 2009 7097|   Obinna|        376|  Germany|Female|  29|     4|115046.74$|            4|        1|             0|     119346.88$|     1| credit_card|       hello#.com|
|  8|        9|4/26/2010|  15792365|            XX 88 51 05 C|0985 3441 5947 6664|       He|        501|   France|  Male|  44|     4|142051.07$|            2|        0|             1|       74940.5$|     0|  debit_card|       hello#.com|
|  9|       10|4/27/2010|  15592389|            HF 10 25 99 E|7783 3046 1162 8870|       H?|        684|   France|  Male|  27|     2|134603.88$|            1|        1|             1|      71725.73$|     0|  debit_card|       hello#.com|
| 10|       11|4/27/2010|  15767821|            HR 79 79 37 T|4643 4252 8979 4317|   Bearce|        528|   France|  Male|null|  null|102016.72$|            2|        0|             0|      80181.12$|     0| credit_card| abc.dep@qngl.lym|
| 11|       12|4/27/2010|  15737173|            UL 84 05 44 Y|2148 3870 3474 5852|  Andrews|        497|    Spain|  Male|  24|  null|      0.0$|            2|        1|             0|      76390.01$|     0| credit_card|       hello#.com|
| 12|       13|4/28/2010|  15632264|            NY 23 39 00 W|5111 6254 4955 3485|      Kay|        476|   France|Female|  34|  null|      0.0$|            2|        1|             0|      26260.98$|     0| credit_card|       hello#.com|
| 13|       14|4/28/2010|  15691483|            UP 19 02 03 O|1813 2711 3855 5658|     Chin|        549|   France|Female|  34|     5|      0.0$|            2|        0|             0|     190857.79$|     0| credit_card|       hello#.com|
| 14|       15|4/28/2010|  15600882|            BC 81 86 38 Z|1855 9335 9147 1280|    Scott|        635|    Spain|Female|  34|     7|      0.0$|            2|        1|             1|      65951.65$|     0|  debit_card|       hello#.com|
| 15|       16|4/29/2010|  15643966|            OP 12 33 50 G|0486 0327 5429 1176|  Goforth|        616|  Germany|  Male|null|     3|143129.41$|            2|        0|             1|      64327.26$|     0|  debit_card| abc.deu@qngi.rsk|
| 16|       17|4/29/2010|  15737452|            WM 60 91 78 K|8079 7648 7959 1858|    Romeo|        653|  Germany|  Male|  58|     1|132602.88$|            1|        1|             0|       5097.67$|     1| credit_card|abc.dev@qngm.gopm|
| 17|       18|4/29/2010|  15788218|            MI 29 05 40 J|2375 4679 8792 5009|Henderson|        549|    Spain|Female|  24|     9|      0.0$|            2|        1|             1|      14406.41$|     0|  debit_card|       hello#.com|
| 18|       19|4/30/2010|  15661507|            JM 62 01 40 X|3144 4069 0205 9336|  Muldrow|        587|    Spain|  Male|  45|     6|      0.0$|            1|        0|             0|     158684.81$|     0| credit_card|       hello#.com|
| 19|       20|4/30/2010|  15568982|            IR 51 70 14 X|5284 8662 0654 4079|  Hao%^&&|        726|   France|Female|  24|     6|      0.0$|            2|        1|             1|      54724.03$|     0| credit_card|       hello#.com|
+---+---------+---------+----------+-------------------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+-----------------+
only showing top 20 rows

In [ ]:
noise.dtypes

[('_c0', 'int'),
 ('RowNumber', 'int'),
 ('date', 'string'),
 ('CustomerId', 'int'),
 ('National_Insurance_number', 'string'),
 ('Credit_Card_No', 'string'),
 ('Surname', 'string'),
 ('CreditScore', 'string'),
 ('Geography', 'string'),
 ('Gender', 'string'),
 ('Age', 'int'),
 ('Tenure', 'int'),
 ('Balance', 'string'),
 ('NumOfProducts', 'string'),
 ('HasCrCard', 'int'),
 ('IsActiveMember', 'int'),
 ('EstimatedSalary', 'string'),
 ('Exited', 'int'),
 ('payment_mode', 'string'),
 ('mailId', 'string')]

In [ ]:
data = noise.withColumn("Age" , noise["Age"].cast(IntegerType()))

In [ ]:
data.show()

+---+---------+---------+----------+-------------------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+-----------------+
|_c0|RowNumber|     date|CustomerId|National_Insurance_number|     Credit_Card_No|  Surname|CreditScore|Geography|Gender| Age|Tenure|   Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|payment_mode|           mailId|
+---+---------+---------+----------+-------------------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+-----------------+
|  0|        1|4/24/2010|  15634602|            EJ 87 23 16 H|6518 2286 9458 0302| Hargrave|        619|   France|Female|  42|     2|      0.0$|            1|        1|             1|     101348.88$|     1| credit_card|       hello#.com|
|  1|        2|4/24/2010|  15647311|            OL 43 31 62 W|1895 4190 0493 2177|     Hill|        608|    Spain|Female|  41|     1| 83807.86$|            1|        0|             1|     112542.58$|     0|  debit_card|       hello#.com|
|  2|        3|4/24/2010|  15619304|            SP 19 16 08 Z|7391 2068 7721 4726|     Onio|        502|   France|Female|  42|     8| 159660.8$|            3|        1|             0|     113931.57$|     1| credit_card|       hello#.com|
|  3|        4|4/25/2010|  15701354|            BL 75 04 39 Q|8863 3167 4447 6130|     Boni|        699|   France|Female|null|     1|      0.0$|            2|        0|             0|      93826.63$|     0|  debit_card|abc.dei@qngf.noaj|
|  4|        5|4/25/2010|  15737888|            VJ 49 13 25 F|6042 7133 1005 8123| Mitchell|        850|    Spain|Female|  39|  null|125510.82$|    Venkatesh|        1|             1|       79084.1$|     0|  debit_card|       hello#.com|
|  5|        6|4/25/2010|  15574012|            LI 01 30 98 Q|4425 9932 7939 1867|      Chu|       Teja|    Spain|  Male|null|     8|113755.78$|            2|        1|             0|     149756.71$|     1|  debit_card|abc.dek@qngt.oulx|
|  6|        7|4/26/2010|  15592531|            EQ 03 89 69 M|7794 1734 3408 3103| Bartlett|        822|   France|  Male|  50|  null|      0.0$|            2|        1|             1|       10062.8$|     0| credit_card|abc.del@qngr.npiz|
|  7|        8|4/26/2010|  15656148|            RA 20 76 44 N|7862 7332 2009 7097|   Obinna|        376|  Germany|Female|  29|     4|115046.74$|            4|        1|             0|     119346.88$|     1| credit_card|       hello#.com|
|  8|        9|4/26/2010|  15792365|            XX 88 51 05 C|0985 3441 5947 6664|       He|        501|   France|  Male|  44|     4|142051.07$|            2|        0|             1|       74940.5$|     0|  debit_card|       hello#.com|
|  9|       10|4/27/2010|  15592389|            HF 10 25 99 E|7783 3046 1162 8870|       H?|        684|   France|  Male|  27|     2|134603.88$|            1|        1|             1|      71725.73$|     0|  debit_card|       hello#.com|
| 10|       11|4/27/2010|  15767821|            HR 79 79 37 T|4643 4252 8979 4317|   Bearce|        528|   France|  Male|null|  null|102016.72$|            2|        0|             0|      80181.12$|     0| credit_card| abc.dep@qngl.lym|
| 11|       12|4/27/2010|  15737173|            UL 84 05 44 Y|2148 3870 3474 5852|  Andrews|        497|    Spain|  Male|  24|  null|      0.0$|            2|        1|             0|      76390.01$|     0| credit_card|       hello#.com|
| 12|       13|4/28/2010|  15632264|            NY 23 39 00 W|5111 6254 4955 3485|      Kay|        476|   France|Female|  34|  null|      0.0$|            2|        1|             0|      26260.98$|     0| credit_card|       hello#.com|
| 13|       14|4/28/2010|  15691483|            UP 19 02 03 O|1813 2711 3855 5658|     Chin|        549|   France|Female|  34|     5|      0.0$|            2|        0|             0|     190857.79$|     0| credit_card|       hello#.com|
| 14|       15|4/28/2010|  15600882|            BC 81 86 38 Z|1855 9335 9147 1280|    Scott|        635|    Spain|Female|  34|     7|      0.0$|            2|        1|             1|      65951.65$|     0|  debit_card|       hello#.com|
| 15|       16|4/29/2010|  15643966|            OP 12 33 50 G|0486 0327 5429 1176|  Goforth|        616|  Germany|  Male|null|     3|143129.41$|            2|        0|             1|      64327.26$|     0|  debit_card| abc.deu@qngi.rsk|
| 16|       17|4/29/2010|  15737452|            WM 60 91 78 K|8079 7648 7959 1858|    Romeo|        653|  Germany|  Male|  58|     1|132602.88$|            1|        1|             0|       5097.67$|     1| credit_card|abc.dev@qngm.gopm|
| 17|       18|4/29/2010|  15788218|            MI 29 05 40 J|2375 4679 8792 5009|Henderson|        549|    Spain|Female|  24|     9|      0.0$|            2|        1|             1|      14406.41$|     0|  debit_card|       hello#.com|
| 18|       19|4/30/2010|  15661507|            JM 62 01 40 X|3144 4069 0205 9336|  Muldrow|        587|    Spain|  Male|  45|     6|      0.0$|            1|        0|             0|     158684.81$|     0| credit_card|       hello#.com|
| 19|       20|4/30/2010|  15568982|            IR 51 70 14 X|5284 8662 0654 4079|  Hao%^&&|        726|   France|Female|  24|     6|      0.0$|            2|        1|             1|      54724.03$|     0| credit_card|       hello#.com|
+---+---------+---------+----------+-------------------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+-----------------+
only showing top 20 rows

In [ ]:
df = read_delta("/content/tet_date_type")
df.show()

+---------+-------------------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|               date|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+-------------------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|2010-04-24 00:00:00|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|2010-04-24 00:00:00|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|2010-04-24 00:00:00|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|               null|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|               null|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|               null|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|2010-04-26 00:00:00|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|2010-04-26 00:00:00|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|2010-04-26 00:00:00|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|2010-04-27 00:00:00|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|2010-04-27 00:00:00|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|2010-04-27 00:00:00|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|2010-04-28 00:00:00|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|2010-04-28 00:00:00|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|2010-04-28 00:00:00|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|2010-04-29 00:00:00|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|2010-04-29 00:00:00|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|2010-04-29 00:00:00|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|2010-04-30 00:00:00|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|2010-04-30 00:00:00|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+-------------------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [ ]:
int_count = 50
orginal_data = 60
val = int((int_count / orginal_data) * 100)

In [ ]:
def getAllNulls(data):
    null_data = data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for (c, c_type) in data.dtypes if
                             c_type not in ('boolean', 'timestamp', 'date')])
    ret = null_data.first()
    return ret.asDict()

In [ ]:
def check_date_type_anomalies(rows):
    temp = {}
    row_obj = Row("is_date")
    n_rows = []
    for row in rows:
        column_val = row[col]
        if getDate(column_val):
            _row = row_obj(True)
        else:
            _row = row_obj(False)
        n_rows.append(_row)
    return iter(n_rows)

In [ ]:
def ExtractAnomalies(data_path):
    data = read_delta(data_path)
   
    data = data.select([column for column in data.columns if column != "load_date"])
    #print(data.head())
    total_count = data.count()
    null_dict = getAllNulls(data)
    null_anomalies = []
    null_anomalies_cols = []
    null_data_types = []
    for i, j in null_dict.items():
        if j > 0:
            null_anomalies.append(j)
            null_anomalies_cols.append(i)
            null_data_types.append(str(data.schema[i].dataType))
    data_type_anomalies = []
    # data_no_null = data.na.drop()
    noise_anomalies_cols = []
    for col_name in data.columns:
        orginal_data = data.filter(data[col_name]. isNotNull()).count()
        if str(data.schema[col_name].dataType) == "StringType":
            temp = {}
            tdf = data.select(col_name, col(col_name).cast("int").isNotNull().alias("is_int"))
            int_count = tdf.filter(col("is_int") == True).count()
            #orginal_data = df[col_name].na.drop("any").show(false).count()
            #orginal_data = data.filter(data[col_name]. isNotNull()).count()
            if int((int_count / orginal_data) * 100)  >= 80:
                temp['col_name'] = col_name
                temp['NewType'] = "IntegerType"
                temp['prevType'] = "StringType"
                data_type_anomalies.append(temp)
            tdf = data.select(col_name, col(col_name).cast("float").isNotNull().alias("is_float"))
            float_count = tdf.filter(col("is_float") == True).count()
            #orginal_data = data.filter(data[col_name]. isNotNull()).count()
            if int((float_count / orginal_data) * 100)  >= 80:
            #if float_count:
                temp['col_name'] = col_name
                temp['NewType'] = "FloatType"
                temp['prevType'] = "StringType"
                data_type_anomalies.append(temp)
            t_rdd = data.select(col(col_name).alias("column_to_check")).rdd.mapPartitions(check_date_type_anomalies)
            date_match = create_data_frame(t_rdd)
            date_match_count = date_match.filter(col("is_date") == True).count()
            #orginal_data = df.filter(df[col_name]. isNotNull()).count()
            if int((date_match_count / orginal_data) * 100)  >= 80:
            #if date_match_count:
                temp['col_name'] = col_name
                temp['NewType'] = "DateType"
                temp['prevType'] = "StringType"
                data_type_anomalies.append(temp)
                # data_type_anomalies.append(f"{col_name} is StringType but we think it should be DataTime")
            elif CheckNoise(data, col_name):
                noise_anomalies_cols.append(col_name)
            return temp

    sensitive_cols = predict_sensitivity(data)
    # sensitive_cols = []
    sensitive = "true"
    if len(null_anomalies) != 0 or len(data_type_anomalies) != 0 or len(sensitive_cols) == 0:
        if len(null_anomalies) == 0:
            null_anomalies = []
        if len(data_type_anomalies) == 0:
            data_type_anomalies = []
        if len(sensitive_cols) == 0:
            sensitive = "false"
        return_dic = {"Null_anomalies": makeFormat3(null_anomalies, null_anomalies_cols, null_data_types),
                        # "DataType_anomalies" : makeFormat2(data_type_anomalies , data_type_anomalies_cols),
                        "DataType_anomalies": data_type_anomalies,
                        "Sensitive_anomalies": makeFormat4(data, sensitive_cols),
                        "Mail_anomolies": Standardization(data, total_count, null_dict),
                        "Noise_anomalies": makeFormat(data, noise_anomalies_cols), "Sensitive": sensitive,
                        "Status": 200, "Message": "Success"}
    else:
        if len(null_anomalies) == 0:
            null_anomalies = []
        if len(data_type_anomalies) == 0:
            data_type_anomalies = []
        if len(sensitive_cols) == 0:
            sensitive = "false"
        return_dic = {"Null_anomalies": makeFormat3(null_anomalies, null_anomalies_cols, null_data_types),
                        # "DataType_anomalies" : makeFormat2(data_type_anomalies , data_type_anomalies_cols),
                        "DataType_anomalies": data_type_anomalies,
                        "Sensitive_anomalies": makeFormat4(data, sensitive_cols),
                        "Mail_anomolies": Standardization(data, total_count, null_dict),
                        "Noise_anomalies": makeFormat(data, noise_anomalies_cols), "Sensitive": sensitive,
                        "Status": 200, "Message": "No Anomalies found"}

In [ ]:
ExtractAnomalies("/content/Iris_new_small")

Row(Id=1, SepalLengthCm=5.1, SepalWidthCm=None, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')

NameError: ignored

In [ ]:
df = read_delta("/content/Iris_new_small")

In [ ]:
df.show()

+----+-------------+------------+-------------+------------+-----------+
|  Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+----+-------------+------------+-------------+------------+-----------+
|   1|          5.1|        null|          1.4|         0.2|Iris-setosa|
|   2|          4.9|           3|          1.4|         0.2|Iris-setosa|
|null|          4.7|           #|          1.3|         0.2|Iris-setosa|
|   4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|   5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
+----+-------------+------------+-------------+------------+-----------+

In [ ]:
def ExtractAnomalies(data_path):
    data = read_delta(data_path)
    data = data.select([column for column in data.columns if column != "load_date"])
    # print(data.head())
    total_count = data.count()
    null_dict = getAllNulls(data)
    for col_name in data.columns:
        if str(data.schema[col_name].dataType) in ["TimestampType","date","DateType"]:
            print("Teja worest dayyyyyyyyyyyyyyyyyyyyyyyyyyy")
            null_dict = getAll_date_Nulls(data,null_dict,col_name)
    #print(null_dict)
    #return null_dict
    null_anomalies = []
    null_anomalies_cols = []
    null_data_types = []
    for i, j in null_dict.items():
        if j > 0:
            null_anomalies.append(j)
            null_anomalies_cols.append(i)
            null_data_types.append(str(data.schema[i].dataType))
    data_type_anomalies = []
    # data_type_anomalies_cols = []
    noise_anomalies_cols = []
    for col_name in data.columns:
        if str(data.schema[col_name].dataType) == "StringType":
            temp = {}
            data = data.na.drop(subset=[col_name])
            vals = data.select(col_name).collect()[:100]
            vals = list(map(lambda x: str(x[0]), vals))
            if CheckInt(vals, col_name):
                temp['col_name'] = col_name
                temp['NewType'] = "IntegerType"
                temp['prevType'] = "StringType"
                data_type_anomalies.append(temp)
                # data_type_anomalies_cols.append(col_name)
            elif CheckFloat(vals, col_name):
                temp['col_name'] = col_name
                temp['NewType'] = "FloatType"
                temp['prevType'] = "StringType"
                data_type_anomalies.append(temp)
                # data_type_anomalies.append(f"{col_name} is StringType but we think it should be FloatType")
                # data_type_anomalies_cols.append(col_name)
            elif CouldBeDate(vals, col_name):
                temp['col_name'] = col_name
                temp['NewType'] = "DateType"
                temp['prevType'] = "StringType"
                data_type_anomalies.append(temp)
                # data_type_anomalies.append(f"{col_name} is StringType but we think it should be DataTime")
                # data_type_anomalies_cols.append(col_name)
            elif CheckNoise(data, col_name):
                noise_anomalies_cols.append(col_name)
    #sensitive_cols = predict_sensitivity(data)
    # sensitive_cols = []
    sensitive = "true"
    if len(null_anomalies) != 0 or len(data_type_anomalies) != 0:
        if len(null_anomalies) == 0:
            null_anomalies = []
        if len(data_type_anomalies) == 0:
            data_type_anomalies = []
        return_dic = {"Null_anomalies": makeFormat3(null_anomalies, null_anomalies_cols, null_data_types),
                      # "DataType_anomalies" : makeFormat2(data_type_anomalies , data_type_anomalies_cols),
                      "DataType_anomalies": data_type_anomalies,
                      "Mail_anomolies": Standardization(data, total_count, null_dict),
                      "Noise_anomalies": makeFormat(data, noise_anomalies_cols),
                      "Status": 200, "Message": "Success"}
    else:
        if len(null_anomalies) == 0:
            null_anomalies = []
        if len(data_type_anomalies) == 0:
            data_type_anomalies = []
        return_dic = {"Null_anomalies": makeFormat3(null_anomalies, null_anomalies_cols, null_data_types),
                      # "DataType_anomalies" : makeFormat2(data_type_anomalies , data_type_anomalies_cols),
                      "DataType_anomalies": data_type_anomalies,
                      "Mail_anomolies": Standardization(data, total_count, null_dict),
                      "Noise_anomalies": makeFormat(data, noise_anomalies_cols), "Sensitive": sensitive,
                      "Status": 200, "Message": "No Anomalies found"}
    return return_dic

In [ ]:
data.schema['date']

StructField(date,DateType,true)

In [ ]:
df = read_delta("/content/Iris_new")

In [ ]:
data = df.withColumn("SepalLengthCm" , df["SepalLengthCm"].cast(StringType()))

In [ ]:
data = data.withColumn("SepalWidthCm" , df["SepalWidthCm"].cast(StringType()))

In [ ]:
data = data.withColumn("PetalLengthCm" , df["PetalLengthCm"].cast(StringType()))

In [ ]:
data = data.withColumn("PetalWidthCm" , df["PetalWidthCm"].cast(StringType()))

In [ ]:
write_delta(data,"/content/Iris_new")

In [ ]:
ExtractAnomalies("/content/Iris_new")

{'DataType_anomalies': [{'NewType': 'FloatType',
   'col_name': 'SepalLengthCm',
   'prevType': 'StringType'},
  {'NewType': 'FloatType',
   'col_name': 'SepalWidthCm',
   'prevType': 'StringType'},
  {'NewType': 'FloatType',
   'col_name': 'PetalLengthCm',
   'prevType': 'StringType'},
  {'NewType': 'FloatType',
   'col_name': 'PetalWidthCm',
   'prevType': 'StringType'}],
 'Mail_anomolies': [],
 'Message': 'Success',
 'Noise_anomalies': [],
 'Null_anomalies': [{'ColName': 'SepalLengthCm',
   'ColType': 'StringType',
   'Column': 67,
   'tooltip': 'Nulls will be replaced with Mode'},
  {'ColName': 'SepalWidthCm',
   'ColType': 'StringType',
   'Column': 1,
   'tooltip': 'Nulls will be replaced with Mode'}],
 'Status': 200}

In [ ]:
if str(df.schema["date"].dataType) in ["TimestampType","date"]:
    print("teja")

teja

In [ ]:
df.schema['date']

StructField(date,TimestampType,true)

In [ ]:
val = getMode(data , "date")

In [ ]:
val

datetime.date(2010, 10, 6)

In [ ]:
#data = df.withColumn("date" , df["date"].cast(StringType()))

In [ ]:
df = read_delta("/content/PoS")

In [ ]:
def CouldBeDate(data , col_name):
    date_data = data.select(col_name).collect()[0:20]
    date_data = list(map(lambda x : x[0] , date_data))
    date_data = list(map(lambda x : getDate(x) , date_data))
    occurence_counter = Counter(date_data)
    return occurence_counter[None] < 2

In [ ]:
CouldBeDate(df,'Date')

False

In [ ]:
date_data = data.select(col_name).limit(50).collect()
date_data = list(map(lambda x : x[0] , date_data))
patterns = list(map(lambda x : generate_pattern(x) , date_data))
occurence_counter = Counter(patterns)
date_format = occurence_counter.most_common(1)[0][0]
if date_format == "":
    continue
else:
    try:
        data = data.withColumn(col_name , to_date(data[col_name], date_format).alias(col_name))
    except:
        continue

NameError: ignored

In [ ]:
df.dtypes

[('Country', 'string'),
 ('City', 'string'),
 ('Product', 'string'),
 ('Store', 'string'),
 ('Brand', 'string'),
 ('Date', 'string'),
 ('sold_units', 'int'),
 ('On_Hand_Units', 'int'),
 ('Sold_Amount', 'int'),
 ('On_Hand_Amount', 'int'),
 ('version', 'int')]

In [ ]:
df = df.withColumn('Date',to_date(col('Date')).alias('Date').cast("date"))

In [ ]:
data = df.withColumn("Date" , to_date(df["Date"]).alias("date"))

In [ ]:
date_type.columns

['RowNumber',
 'date',
 'CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited']

In [ ]:
data = date_type.withColumn("date" , to_date(date_type["date"]).alias("date"))

In [ ]:
data = read_delta("/content/PoS")
data.show()

+---------+----------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|      date|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|2010-04-24|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|2010-04-24|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|2010-04-24|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|      null|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|      null|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|      null|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|2010-04-26|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|2010-04-26|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|2010-04-26|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|2010-04-27|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|2010-04-27|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|2010-04-27|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|2010-04-28|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|2010-04-28|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|2010-04-28|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|2010-04-29|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|2010-04-29|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|2010-04-29|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|2010-04-30|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|2010-04-30|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [ ]:
data.dtypes

[('RowNumber', 'int'),
 ('date', 'date'),
 ('CustomerId', 'int'),
 ('Surname', 'string'),
 ('CreditScore', 'int'),
 ('Geography', 'string'),
 ('Gender', 'string'),
 ('Age', 'int'),
 ('Tenure', 'int'),
 ('Balance', 'double'),
 ('NumOfProducts', 'int'),
 ('HasCrCard', 'int'),
 ('IsActiveMember', 'int'),
 ('EstimatedSalary', 'double'),
 ('Exited', 'int')]

In [ ]:
#df = df.withColumn("date",to_date(col('date')).alias('date').cast("date"))
#data = data.withColumn(col_name , to_date(data[col_name]).alias(col_name))

In [ ]:
#data = data.na.fill({"date" : getMode(data , "date")})

In [ ]:
#data.show()

In [ ]:
#data = data.withColumn("date" , to_date(data["date"]).alias("date"))

In [ ]:
#data.schema['date']

In [ ]:
df.show()

+-----------+-----------+----------+-------+--------+--------+----------+-------------+-----------+--------------+-------+
|    Country|       City|   Product|  Store|   Brand|    Date|sold_units|On_Hand_Units|Sold_Amount|On_Hand_Amount|version|
+-----------+-----------+----------+-------+--------+--------+----------+-------------+-----------+--------------+-------+
|      kiran|      India| Product_0|Store_0| Brand_0|    null|         8|           38|        367|           335|      1|
|      India|  Hyderabad|Product_11|Store_0| Brand_5|    null|        25|            0|     125318|         47272|      1|
|     France|       Nice| Product_8|Store_8|Brand_16|    null|         6|            0|      82176|        475477|      1|
|      Spain|    Seville|Product_47|Store_1|Brand_12|1/1/1970|        32|            0|     126560|        244151|      1|
|  Singapore|     Yishun|Product_22|Store_0| Brand_2|1/1/1970|         2|            0|      54529|         14026|      1|
|     France|      Dijon| Product_2|Store_9|Brand_16|1/1/1970|        19|            0|       5334|        167047|      1|
|  Singapore|     Yishun|Product_35|Store_2| Brand_8|1/1/1970|        65|            0|      23283|         94977|      1|
|      Spain|    Seville|Product_40|Store_6| Brand_9|1/1/1970|       100|            0|      12287|        310314|      1|
|Netherlands|      Assen| Product_3|Store_2| Brand_0|1/1/1970|        36|            0|       1718|        373982|      1|
|     Sweden|     Gr�nna|Product_14|Store_9| Brand_0|1/1/1970|        93|            0|      46451|         64944|      1|
|    Ukraine|       Kyiv| Product_9|Store_5|Brand_15|1/1/1970|        19|            0|       7609|        210289|      1|
|      India|      Delhi|Product_27|Store_9|Brand_13|1/1/1970|        12|            0|      50133|        254311|      1|
|     Russia|Arkhangelsk|Product_19|Store_6| Brand_8|1/1/1970|         7|            0|     111239|         71127|      1|
|     Sweden|      Eksj�|Product_25|Store_5| Brand_5|1/1/1970|        30|            0|      18704|         82075|      1|
|      Spain|     Bilbao|Product_45|Store_7|Brand_15|1/1/1970|        91|            0|      72332|        233645|      1|
|  Singapore|    Punggol|Product_21|Store_3|Brand_20|1/1/1970|        35|            0|      34357|        801414|      1|
|     Russia|Arkhangelsk|Product_34|Store_2|Brand_20|1/1/1970|        67|            0|      27063|        345587|      1|
|     Sweden|     Arboga| Product_3|Store_8| Brand_0|1/1/1970|        12|            0|      45572|         21953|      1|
|     Sweden|      Boden| Product_0|Store_5| Brand_5|1/1/1970|        80|            0|       5705|        156443|      1|
|        USA|   Columbus|Product_13|Store_8|Brand_19|1/1/1970|        36|            0|      26242|        389647|      1|
+-----------+-----------+----------+-------+--------+--------+----------+-------------+-----------+--------------+-------+
only showing top 20 rows

In [ ]:
#data = data.na.fill({"date" : getMode(data , "date")})

In [ ]:
#test(df,'date')

Handling nulls

In [ ]:
def HandleNulls(data : pyspark.sql.dataframe.DataFrame , recommended_nulls : list , custom_null_cols : list , custom_null_vals : list , rejected_null_cols : list) -> pyspark.sql.dataframe.DataFrame:
    columns = data.columns
    dataset_length = data.count()
    custom_col_dic = {}
    for col_name , col_val in zip(custom_null_cols , custom_null_vals):
        custom_col_dic[col_name] = col_val
    for col_name in columns :
        if col_name in recommended_nulls :
            if str(data.schema[col_name].dataType) == "StringType" :
                try :
                    data = data.na.fill({col_name : getMode(data , col_name)})
                except :
                    data = data.na.fill({col_name : ""})
            elif str(data.schema[col_name].dataType) in ["IntegerType" , "LongType"]:
                try :
                    if data.select(col_name).distinct().count()/dataset_length > 0.05 :
                        data = data.na.fill({col_name : getMean(data , col_name)})
                    else :
                        data = data.na.fill({col_name : getMode(data , col_name)})
                except :
                    data = data.na.fill({col_name : 0})
            elif str(data.schema[col_name].dataType) in ["FloatType" , "DoubleType"]:
                try :
                    data = data.na.fill({col_name : round(getMean(data , col_name) , 2)})
                except :
                    data = data.na.fill({col_name : 0.0})
            
            elif str(data.schema[col_name].dataType) in ['timestamp','TimestampType','date','DateType']:
                print("My frist code in spark22222222222222222222222222222222222")
                #try :
                data = data.withColumn(col_name , data[col_name].cast(StringType()))
                data = data.na.fill({col_name : getMode(data , col_name)})
                data = data.withColumn(col_name , to_date(data[col_name]).alias(col_name))
                print("My frist code in pyspark777777777777777777777777777777777777777777")
                #except :
                #data = data.na.fill({col_name : 0.0})
        elif col_name in custom_null_cols:
            if str(data.schema[col_name].dataType) == "StringType" :
                try :
                    data = data.na.fill({col_name : custom_col_dic[col_name]})
                except :
                    data = data.na.fill({col_name : ""})
            elif str(data.schema[col_name].dataType) in ["IntegerType" , "LongType"]:
                try :
                    data = data.na.fill({col_name : int(custom_col_dic[col_name])})
                except :
                    data = data.na.fill({col_name : 0})
            elif str(data.schema[col_name].dataType) in ["FloatType" , "DoubleType"]:
                try :
                    data = data.na.fill({col_name : float(custom_col_dic[col_name])})
                except :
                    data = data.na.fill({col_name : 0.0})
        elif col_name in rejected_null_cols:
            data = data.na.drop(subset=[col_name])
    return data

In [ ]:
recommended_nulls = ['date']
custom_null_cols = []
custom_null_vals = []
rejected_null_cols = []

In [ ]:
#data = df.na.fill({'Date' : getMode(df , "Date")})

In [ ]:
df = HandleNulls(data , recommended_nulls,custom_null_cols,custom_null_vals,rejected_null_cols)

My frist code in spark22222222222222222222222222222222222
My frist code in pyspark777777777777777777777777777777777777777777

In [ ]:
df.show()

+---------+----------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|      date|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|2010-04-24|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|2010-04-24|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|2010-04-24|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|2012-03-04|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|2012-03-04|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|2012-03-04|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|2010-04-26|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|2010-04-26|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|2010-04-26|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|2010-04-27|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|2010-04-27|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|2010-04-27|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|2010-04-28|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|2010-04-28|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|2010-04-28|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|2010-04-29|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|2010-04-29|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|2010-04-29|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|2010-04-30|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|2010-04-30|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [ ]:
def for_API_3(csv_file , lis1 , lis2 , user_id):
    if csv_file.startswith("s3"):
        type_ = 's3'
        save_path = csv_file
    elif csv_file.startswith("oss"):
        type_ = 'oss'
        save_path = csv_file
    nas = LoadNas(save_path , type_ , user_id)
    cols = LoadCols(save_path , type_ , user_id)
    model , _ = LoadModel(save_path , type_ , user_id)
    target , len_ = LoadTargetandLen(save_path , type_ , user_id)

    dic = {}
    cat_list = []
    for i , j in zip(lis1 , lis2):
        try :
            dic[i] = int(j)
        except :
            dic[i] = j
            cat_list.append(i)
    dic[target] = [1]

    Data = pd.DataFrame.from_dict(dic)
    #print("Shape : 1 : " , Data.shape)
    for i in cat_list :
        Data[i] = Data[i].astype('category')
    
    data = LoadData(save_path , type_ , user_id)
    apply_cats(df=Data , trn=data)
    #print("NAS : " , nas)
    [Data, _, _] , _ = proc_df(Data , target , na_dict = nas)
    #Data, _, _ = proc_df(Data , target , na_dict = nas)
    #print(Data)
    #print("Shape : data : " , data.shape)
    #print("Shape : 2 : " , Data.columns)
    pred = model.predict(Data)
    pred = pred[0]
    try :
        pred = round(float(pred) , 2)
        if pred.is_integer():
            return "Predicted Output for " + target + " is " + str(int(pred))
        else :
            return "Predicted Output for " + target + " is " + str(pred)
    except :
        pred = str(pred)
    return "Predicted Output for " + target + " is " + pred

In [ ]:
import pandas as pd
#data = pd.read_csv('/content/_PointOfSales.csv', encoding='latin-1')
#data

In [ ]:
#data.to_csv('Modifiedsales.csv',header=True,index = False)

In [ ]:
from delta.tables import *

In [ ]:
deltaTable = DeltaTable.forPath(spark, "/content/Churn_Modelling")

In [ ]:
from spark_utils import read_csv , read_delta , write_delta,write_csv_as_delta,read_delta_as_pddf ,getVersionsDelta,getMode,getMean

In [ ]:
getVersionsDelta('/content/Churn_Modelling')[0]

1

In [ ]:
write_csv_as_delta("/content/Iris_new.csv")

In [ ]:
df2 = read_delta("/content/Iris_new")
df2.show()

+---+-------------+------------+-------------+------------+-----------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+-------------+------------+-------------+------------+-----------+
|  1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|
|  9|          4.4|         2.9|          1.4|         0.2|Iris-setosa|
| 10|          4.9|         3.1|          1.5|         0.1|Iris-setosa|
| 11|          5.4|         3.7|          1.5|         0.2|Iris-setosa|
| 12|          4.8|         3.4|          1.6|         0.2|Iris-setosa|
| 13|         null|         3.0|          1.4|         0.1|Iris-setosa|
+---+-------------+------------+-------------+------------+-----------+
only showing top 20 rows

In [ ]:
df3 = df2.withColumn("date",col("date").cast(StringType()))

In [ ]:
 #data = df3.Null.fill({"date" : getMode(df3 , "date")})

In [ ]:
data.show()

+---------+--------------------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|                date|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+--------------------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|          12/24/2010|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|          12/24/2010|      null|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|          12/24/2010|      None|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|           4/25/2010|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|           4/25/2010|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|           4/25/2010|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|                 ...|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|           4/26/2010|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|           4/26/2010|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|           4/27/2010|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|                 ...|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|           4/27/2010|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|           4/28/2010|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|           4/28/2010|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|           4/28/2010|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|           4/29/2010|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|           4/29/2010|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|           4/29/2010|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|           4/30/2010|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|           4/30/2010|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+--------------------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [ ]:
write_delta(df3,"/content/tet_date")

In [ ]:
null_data = df2.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for (c, c_type) in df2.dtypes if c_type not in ('boolean', 'timestamp', 'date')])

In [ ]:
null_data = df2.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for (c, c_type) in df2.dtypes])

In [ ]:
df2.select([count(when(isnan('date'),True))]).show()

+------------------------------------------+
|count(CASE WHEN isnan(date) THEN true END)|
+------------------------------------------+
|                                         0|
+------------------------------------------+

In [ ]:
null_data = df2.select([count(when(col('date').isNull(),True))]).show()

In [ ]:
null_data.show()

+---------+----+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|RowNumber|date|CustomerId|Surname|CreditScore|Geography|Gender|Age|Tenure|Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|        0|   3|         1|      0|          0|        0|     0|  0|     0|      0|            0|        0|             0|              0|     0|
+---------+----+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+

In [ ]:
val = null_data.first()

In [ ]:
val.asDict()

{'Age': 3,
 'Balance': 3,
 'CreditScore': 3,
 'CustomerId': 3,
 'EstimatedSalary': 3,
 'Exited': 3,
 'Gender': 3,
 'Geography': 3,
 'HasCrCard': 3,
 'IsActiveMember': 3,
 'NumOfProducts': 3,
 'RowNumber': 3,
 'Surname': 3,
 'Tenure': 3,
 'date': 3}

In [ ]:
ret = null_data.first()
ret.asDict()

AttributeError: ignored

In [ ]:
def getAllNulls(data):
    null_data = data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for (c, c_type) in data.dtypes if
                             c_type not in ('boolean', 'timestamp', 'date')])
    ret = null_data.first()
    return ret.asDict()

In [ ]:
getAllNulls(df2)

NameError: ignored

In [ ]:
write_delta(df2,"/content/Iris_new")

NameError: ignored

In [ ]:
def TokenizeAndSave(data_path , data , col_name):
    data1 = data.withColumn('tokenize_' + col_name,sha2(col_name,256))
    final_data = data1.select(col_name,'tokenize_' + col_name)
    data3 = data1.drop(col(col_name))
    data3 = data3.withColumnRenamed('tokenize_' + col_name , col_name)
    if os.path.isfile(data_path + "/tokenized"):
        old_data = read_delta(data_path + "/tokenized")
        old_data = old_data.withColumn("_id_", monotonically_increasing_id())
        final_data = final_data.withColumn("_id_", monotonically_increasing_id())
        final_data = old_data.join(final_data, "_id_", "outer").drop("_id_")
    write_delta(final_data , data_path + "/tokenized")
    return data3

In [ ]:
def Tokenization(data_path,col_name):
  #data_path = kwargs["params"]["data_path"]
  #col_name = kwargs["params"]["col_name"]
  #collection  = db.Ingestion
  #val = collection.find_one({"sourcePath": data_path})
  try:
    data = read_delta(data_path)
    if str(data.schema[col_name].dataType) == "StringType":
      data = TokenizeAndSave(data_path , data , col_name)
      #write_delta(data , data_path)
      #comments_dic = {"comment" : f"Applied Tokenization on Column {col_name}", "task" : "Tokenization","params" : kwargs['params'] , "time" : dt.datetime.now() ,"domain" : "DataSecurity"}
      #WriteComment(data_path , comments_dic)
      get_total_rows=read_delta(data_path + "/tokenized")
      print(get_total_rows.count())
      return {"Status" : 200 , "Message" : "Tokenized Successfully"}
    elif str(data.schema[col_name].dataType) in ["IntegerType", "LongType",'FloatType','DoubleType']:
      data = data.withColumn(col_name , data[col_name].cast(StringType()))
      #data = data.withColumn(col_name,sha2(col_name,256))
      data = TokenizeAndSave(data_path , data , col_name)
      #write_delta(data , data_path)
      #comments_dic = {"comment" : f"Applied Tokenization on Column {col_name}", "task" : "Tokenization","params" : kwargs['params'] , "time" : dt.datetime.now() ,"domain" : "DataSecurity"}
      #WriteComment(data_path , comments_dic)
      get_total_rows=read_delta(data_path + "/tokenized")
      print(get_total_rows.count())
      return {"Status" : 200 , "Message" : "Tokenized Successfully"}
    else:
      return {"Status" : 201 , "Message" : "Cannot Tokenize"}
  except:
    return {"Status" : 400 , "Message" : "Cannot Tokenize"}

In [ ]:
def TokenizeAndSave(data_path , data , col_name):
    data1 = data.withColumn('tokenize_' + col_name,sha2(col_name,256))
    final_data = data1.select(col_name,'tokenize_' + col_name)
    data3 = data1.drop(col(col_name))
    data3 = data3.withColumnRenamed('tokenize_' + col_name , col_name)
    if os.path.isfile(data_path + "_secure"):
        old_data = read_delta(data_path + "_secure")
        old_data = old_data.withColumn("_id_", monotonically_increasing_id())
        final_data = final_data.withColumn("_id_", monotonically_increasing_id())
        final_data = old_data.join(final_data, "_id_", "outer").drop("_id_")
    write_delta(final_data , data_path + "_secure")
    data3.show(5)
    return data3

In [ ]:
def New_TokenizeAndSave(data_path , data , col_name):
    data1 = data.withColumn('tokenize_' + col_name,sha2(col_name,256))
    #final_data = data1.select(col_name,'tokenize_' + col_name)
    data3 = data1.drop(col(col_name))
    data3 = data3.withColumnRenamed('tokenize_' + col_name , col_name)
    """
    if os.path.isfile(data_path + "_secure"):
        old_data = read_delta(data_path + "_secure")
        old_data = old_data.withColumn("_id_", monotonically_increasing_id())
        final_data = final_data.withColumn("_id_", monotonically_increasing_id())
        final_data = old_data.join(final_data, "_id_", "outer").drop("_id_")
    write_delta(final_data , data_path + "_secure")"""
    
    data3.show(5)
    return data3

In [ ]:
def Tokenization(data_path,col_name):
    data = read_delta(data_path)
    if str(data.schema[col_name].dataType) == "StringType":
      data = New_TokenizeAndSave(data_path , data , col_name)
      #get_total_rows=read_delta(data_path + "_secure")
      #print(get_total_rows.count())
      return {"Status" : 200 , "Message" : "Tokenized Successfully"}
    elif str(data.schema[col_name].dataType) in ["IntegerType", "LongType",'FloatType','DoubleType']:
      data = data.withColumn(col_name , data[col_name].cast(StringType()))
      data = New_TokenizeAndSave(data_path , data , col_name)
      #get_total_rows=read_delta(data_path + "_secure")
      #get_total_rows.count()
      return {"Status" : 200 , "Message" : "Tokenized Successfully"}
    else:
      return {"Status" : 201 , "Message" : "Cannot Tokenize"}

In [ ]:
def TransformationsHist(data_path,val1) :
    #id_ = kwargs["params"]["id_"]
    #val = extract_data(id_)
    #collection1 = db.VersionHistory
    #val1 = collection1.find_one({"file_id": id_}, {"version_hist": 1, "_id": 0})
    # print(val1)
    #data_path = val["sourcePath"]
    deltaTable = DeltaTable.forPath(spark, data_path)
    fullHistoryDF = deltaTable.history()
    versions = list(map(lambda x: x[0], fullHistoryDF.select("version").collect()))
    # print(versions)
    # time_stamps = list(map(lambda x : x[0] ,fullHistoryDF.select("timestamp").collect()))
    if val1:
        transformations_ = [j["task"] for i in versions for j in val1["version_hist"] if j["version"] == i]
        transformations_.append("No Transformations applied")
    else:
        transformations_ = ["No Transformations applied"]
    version = versions[0]
    return_lis = []
    for vers, time_s in zip(versions, transformations_):
        if vers == version:
            return_lis.append({"version": vers, "transformation": time_s, "highlight": "True"})
        else:
            return_lis.append({"version": vers, "transformation": time_s, "highlight": "False"})
    resp = {"Status": 200, "Message": "Success", "data": return_lis}
    return resp

In [ ]:
TransformationsHist()

In [ ]:
Tokenization('/content/Iris_new','Species')

+---+-------------+------------+-------------+------------+--------------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|             Species|
+---+-------------+------------+-------------+------------+--------------------+
|  1|          5.1|         3.5|          1.4|         0.2|232df521071298799...|
|  2|          4.9|         3.0|          1.4|         0.2|232df521071298799...|
|  3|          4.7|         3.2|          1.3|         0.2|232df521071298799...|
|  4|          4.6|         3.1|          1.5|         0.2|232df521071298799...|
|  5|          5.0|         3.6|          1.4|         0.2|232df521071298799...|
+---+-------------+------------+-------------+------------+--------------------+
only showing top 5 rows

{'Message': 'Tokenized Successfully', 'Status': 200}

In [ ]:
write_csv_as_delta('/content/Iris_new.csv')

In [ ]:
dd = read_delta('/content/Iris_new')

In [ ]:
deltaTable = DeltaTable.forPath(spark, "/content/Iris_new")
fullHistoryDF = deltaTable.history()

In [ ]:
fullHistoryDF.show()

+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+
|version|          timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+
|      1|2021-03-05 13:51:06|  null|    null|    WRITE|[mode -> Overwrit...|null|    null|     null|          0|          null|        false|
|      0|2021-03-05 13:49:39|  null|    null|    WRITE|[mode -> Overwrit...|null|    null|     null|       null|          null|        false|
+-------+-------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+

In [ ]:
versions = fullHistoryDF.select("version").collect()

In [ ]:
versions = list(map(lambda x: x[0], versions))
versions

[1, 0]

In [ ]:
dd.show()

+---+-------------+------------+-------------+------------+-----------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+-------------+------------+-------------+------------+-----------+
|  1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|
|  9|          4.4|         2.9|          1.4|         0.2|Iris-setosa|
| 10|          4.9|         3.1|          1.5|         0.1|Iris-setosa|
| 11|          5.4|         3.7|          1.5|         0.2|Iris-setosa|
| 12|          4.8|         3.4|          1.6|         0.2|Iris-setosa|
| 13|          4.8|         3.0|          1.4|         0.1|Iris-setosa|
| 14|          4.3|         3.0|          1.1|         0.1|Iris-setosa|
| 15|          5.8|         4.0|          1.2|         0.2|Iris-setosa|
| 16|          5.7|         4.4|          1.5|         0.4|Iris-setosa|
| 17|          5.4|         3.9|          1.3|         0.4|Iris-setosa|
| 18|          5.1|         3.5|          1.4|         0.3|Iris-setosa|
| 19|          5.7|         3.8|          1.7|         0.3|Iris-setosa|
| 20|          5.1|         3.8|          1.5|         0.3|Iris-setosa|
+---+-------------+------------+-------------+------------+-----------+
only showing top 20 rows

In [ ]:
import os 
import pyspark
from pyspark.sql.types import *
from pyspark.sql.types import datetime
import datetime as dt
import numpy as np
import string
import more_itertools as mit
#import spark_utils
from spark_utils import write_csv_as_delta,read_delta,read_csv,write_delta
from pyspark.sql.functions import *

In [ ]:
def extract_destination_path(path:str):
    split_path = path.split('/')
    #file_name = split_path[-1]
    strt = "/".join(split_path[3:-1])
    strt += "/archive"  
    return strt

In [ ]:
def Archive_(data_path):
    #data_path = kwargs['params']['datapath']
    #data = read_delta_as_pddf(data_path)
    #data.to_csv("/tmp/example.csv")
    source = data_path.replace('queryslice', "rawslice")
    source = source + ".csv"
    print(1111111111111111111111111111111,source)
    destinatation = extract_destination_path(source)
    print(2222222222222222222222222222222,destinatation)
    #write_to_oss('LTAI4FnqiPhdZAnMDG2mF8yo', 'QDUNjPeBchtZYGxiy4f0YsjiP12FuY', 'ai-surge-prd-oss', "http://oss-ap-south-1.aliyuncs.com", "/tmp/example.csv", path) 
    #os.remove("/tmp/example.csv")
    return {'data':"Success"}

In [ ]:
#/content/oss:/ai-surge-prd-oss/surge-queryslice/retail_aisurge_com/demo/public_project/20210219_110513Sales_Trail.csv

In [ ]:
path = "oss:/ai-surge-prd-oss/surge-queryslice/retail_aisurge_com/demo/public_project/20210219_110513Sales_Trail"

In [ ]:
def extract_destination_path(path:str):
    split_path = path.split('/')
    file_name = split_path[-1]
    strt = "/".join(split_path[3:-1])
    strt += "/archive/" + file_name + '.csv'
    return strt

In [ ]:
def Archive_(data_path):
    #data_path = kwargs['params']['datapath']
    destination = data_path.replace('queryslice', "rawslice")
    path = extract_destination_path(destination)
    print(11111111111111111111111,path)
    write_to_oss('LTAI4FnqiPhdZAnMDG2mF8yo', 'QDUNjPeBchtZYGxiy4f0YsjiP12FuY', 'ai-surge-prd-oss', "http://oss-ap-south-1.aliyuncs.com", "/tmp/example.csv", path) 
    os.remove("/tmp/example.csv")
    return {'data':"Success"}

In [ ]:
starting path = oss:surge-rawslice/retail_aisurge_com/demo/public_project/archive/20210219_110513Sales_Trail.csv

In [ ]:
dalta path = oss:surge-rawslice/retail_aisurge_com/demo/public_project/archive/20210219_110513Sales_Trail

In [ ]:
archive -----> starting path = oss:surge-rawslice/retail_aisurge_com/demo/public_project/archive/20210219_110513Sales_Trail.csv

#############################Masking_Tokenization_pyspark.py

In [ ]:
def Tokenization(**kwargs):
  data_path = kwargs["params"]["data_path"]
  col_name = kwargs["params"]["col_name"]
  collection  = db.Ingestion
  val = collection.find_one({"sourcePath": data_path})
  try:
    data = read_delta(data_path)
    if str(data.schema[col_name].dataType) == "StringType":
      data = TokenizeAndSave(data_path , data , col_name)
      write_delta(data , data_path)
      comments_dic = {"comment" : f"Applied Tokenization on Column {col_name}", "task" : "Tokenization","params" : kwargs['params'] , "time" : dt.datetime.now() ,"domain" : "DataSecurity"}
      WriteComment(data_path , comments_dic)
      get_total_rows=read_delta(data_path + "/tokenized")
      try:
        get_securedatadetails=db.Secure.find_one({"ingestion_id":str(val["_id"])})
        if get_securedatadetails is None:
            insert_baddata=db.Secure.insert({'sourcePath':f"{val['sourcePath']}_secure","project_name": val["project_name"],"file_extention": val["file_extention"],"rowcount":get_total_rows.count(),"domain":val['domain'],"ingestion_id":str(val["_id"]),"created_date":datetime.utcnow()})
        else:
            update_createddate_baddata=db.Secure.update_one({'_id' :get_securedatadetails['_id']},{"$set":{"created_date":datetime.utcnow(),"rowcount":get_total_rows.count()}})
      except:
        pass
      return {"Status" : 200 , "Message" : "Tokenized Successfully"}
    elif str(data.schema[col_name].dataType) in ["IntegerType", "LongType",'FloatType','DoubleType']:
      data = data.withColumn(col_name , data[col_name].cast(StringType()))
      #data = data.withColumn(col_name,sha2(col_name,256))
      data = TokenizeAndSave(data_path , data , col_name)
      write_delta(data , data_path)
      comments_dic = {"comment" : f"Applied Tokenization on Column {col_name}", "task" : "Tokenization","params" : kwargs['params'] , "time" : dt.datetime.now() ,"domain" : "DataSecurity"}
      WriteComment(data_path , comments_dic)
      get_total_rows=read_delta(data_path + "/tokenized")
      try:
        get_securedatadetails=db.Secure.find_one({"ingestion_id":str(val["_id"])})
        if get_securedatadetails is None:
            insert_baddata=db.Secure.insert({'sourcePath':f"{val['sourcePath']}_secure","project_name": val["project_name"],"file_extention": val["file_extention"],"rowcount":get_total_rows.count(),"domain":val['domain'],"ingestion_id":str(val["_id"]),"created_date":datetime.utcnow()})
        else:
            update_createddate_baddata=db.Secure.update_one({'_id' :get_securedatadetails['_id']},{"$set":{"created_date":datetime.utcnow(),"rowcount":get_total_rows.count()}})
      except:
        pass
      return {"Status" : 200 , "Message" : "Tokenized Successfully"}
    else:
      return {"Status" : 201 , "Message" : "Cannot Tokenize"}
  except:
    return {"Status" : 400 , "Message" : "Cannot Tokenize"}

In [ ]:
def ApplyAutomatedDataQuality(**kwargs) -> dict:
    id_ = kwargs['params']['_id']
    data_type_cols = kwargs['params']['data_type_cols']
    recommended_nulls = kwargs['params']['recommended_nulls']
    custom_null_cols = kwargs['params']['custom_null_cols']
    custom_null_vals = kwargs['params']['custom_null_vals']
    tokenize_cols = kwargs['params']['tokenize_cols']
    mask_cols = kwargs['params']['mask_cols']
    mask_vals = kwargs['params']['mask_vals']
    noise_cols = kwargs['params']['noise_cols']
    rejected_noise_cols = kwargs['params']['rejected_noise_cols']
    rejected_null_cols = kwargs['params']['rejected_null_cols']
    val = extract_data(id_)
    data_path = val["sourcePath"]
    data = read_delta(data_path)
    #print(data.columns)
    data = HandleNulls(data , recommended_nulls , custom_null_cols , custom_null_vals,rejected_null_cols)
    data = HandleStringColumns(data , data_type_cols)
    data = HandleNoise(data , noise_cols,rejected_noise_cols)
    if type(data) == str :
        return {"Status" : 400 , "Message" : "ErrorWhileHandlingNoise"}
    data = tokenize_sensitive(data_path , data , tokenize_cols)
    if type(data) == str :
        return {"Status" : 400 , "Message" : "ErrorWhileTokenization","col": data}
    try:
        get_total_rows=read_delta(data_path + "/tokenized")
        count=get_total_rows.count()
        get_securedatadetails=db.Secure.find_one({"ingestion_id":id_})
        if get_securedatadetails is None:
            insert_baddata=db.Secure.insert({'sourcePath':f"{val['sourcePath']}_secure","project_name": val["project_name"],"file_extention": val["file_extention"],"domain":val['domain'],"ingestion_id":id_,"rowcount":get_total_rows.count(),"created_date":datetime.utcnow()})
        else:
            update_createddate_baddata=db.Secure.update_one({'_id' :get_securedatadetails['_id']},{"$set":{"created_date":datetime.utcnow(),"rowcount":get_total_rows.count()}})
    except:
        pass
    data = mask_sensitive(data , mask_cols , mask_vals)
    write_delta(data , data_path)
    comments_dic = {"comment" : "Applied Automated Data Quality", "task" : "ApplyAutomatedDataQuality",  "params" : "" , "time" : datetime.now(),"domain" : "Quality"}
    WriteComment(data_path, comments_dic)
    return {"Status" : 200 , "Message" : "QualityApplied"}

Automateddraquality.py

In [ ]:
import time
import datetime
#from datetime import datetime

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-1.8.0-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--packages io.delta:delta-core_2.11:0.5.0 pyspark-shell"
import findspark
findspark.init()
import pyspark 
from pyspark.sql.types import *
from pyspark.sql import SparkSession
import pandas 
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
import pandas as pd
data = pd.read_csv('/content/Noisy_churn.csv')
data.isnull().sum()

Unnamed: 0                    0
RowNumber                     0
date                          0
CustomerId                    0
National_Insurance_number     0
Credit_Card_No                0
Surname                       0
CreditScore                   0
Geography                     0
Gender                        0
Age                          12
Tenure                       25
Balance                       0
NumOfProducts                 0
HasCrCard                     0
IsActiveMember                0
EstimatedSalary               0
Exited                        0
payment_mode                  0
mailId                        0
dtype: int64

In [ ]:
from delta.tables import *
import pyspark.sql.functions as f
from pyspark.sql import Window

In [ ]:
def badandsave(data_path):
    df = read_delta(data_path)
    cl = df.columns
    #w = Window.partitionBy(cl)
    #df = df.select('*', f.count(cl[0]).over(w).alias('dupeCount')).where('dupeCount > 1').drop('dupeCount')
    df = df.exceptAll(df.drop_duplicates(cl))
    if df.count() > 0:
        df = df.withColumn("Status", lit('Dupicate_col'))
        if os.path.isfile(data_path + "_baddata"):
            old_data = read_delta(data_path + "_baddata")
            if len(df.columns) == len(old_data.columns):
                final_data = old_data.union(df)
                #bad_data = df.union(bad_data)
                write_delta(final_data , data_path + "_baddata")
                return {"Status": 200, "Message": "Bad data Successful"}
            else:
                return {"Status": 400, "Message": "columns mismatch"}
        else:
            write_delta(df , data_path + "_baddata")
            return {"Status": 200, "Message": "Bad data Successful"}
    else:
        {"Status": 400, "Message": "No duplicate Rows"}

In [ ]:
#badandsave("/content/Iris_new")

In [ ]:
def bad_data(**kwargs):
    data_path = kwargs["params"]["path"]
    #id_ = kwargs["params"]["_id"]
    #mail_anamoly = kwargs["params"]["mail_anamoly"]
    mail_col_reject = []
    #mail_col = kwargs["params"]["mail_col"]
    null_anamoly = kwargs["params"]["null_anamoly"]
    null_col_custom = kwargs["params"]["custom_null_cols"]
    null_col_recommend = kwargs["params"]["recommended_nulls"]
    null_col_reject = kwargs["params"]["rejected_null_cols"]
    noise_anamoly = kwargs["params"]["noise_anamoly"]
    noise_col_remove = kwargs["params"]["noise_cols"]
    noise_col_reject = kwargs["params"]["rejected_noise_cols"]
    dropCol = kwargs["params"]["dropCol"]
    noise_col = []
    data = read_delta(data_path)
    df = data
    #data = data.withColumn("Status",lit("Not"))
    c,d,e = 0,0,0
    data_lis = []
    if null_anamoly=="true":
        for col in  null_col_recommend + null_col_custom:
            if col in null_col_recommend:
                if c == 0:
                    data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Recommend"))
                else:
                    data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Recommend").otherwise(data['Status']))
            elif col in null_col_custom:
                if c == 0:
                    data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Custom"))
                else:
                    data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Custom").otherwise(data['Status']))
            c += 1
    if noise_anamoly == "true":
        for col in noise_col + noise_col_remove:
            if col in noise_col:
                if c == 0:
                    data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "No_action"))
                else:
                    data = data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "No_action").otherwise(data['Status']))
            elif col in noise_col_remove:
                if c == 0:
                    data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "Noise Recommend"))
                else:
                    data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "Noise Recommend").otherwise(data['Status']))
            c += 1   
    for col in mail_col_reject + null_col_reject + noise_col_reject :
        if col in mail_col_reject:
            if c == 0:
                data = data.withColumn("Status",when(~(data[col].rlike('^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$')) , "Mail Rejected"))
            else:
                data = data.withColumn("Status",when(~(data[col].rlike('^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$')) , "Mail Rejected").otherwise(data['Status']))
        if col in null_col_reject:
            if c == 0: 
                data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Rejected"))
            else:
                data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Rejected").otherwise(data['Status']))

        if col in noise_col_reject:
            if c == 0:
                data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "Noise Rejected"))
            else:
                data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "Noise Rejected").otherwise(data['Status']))  
        c += 1     
    try:
        bad_data = data.filter(~data["Status"].isNull())
        bad_data = bad_data.dropDuplicates()
        #bad_data.show()
        #print(bad_data.columns)
        if dropCol == True:
            cl = df.columns
            #w = Window.partitionBy(cl[0])
            #df = df.select('*', f.count(cl).over(w).alias('dupeCount')).where('dupeCount > 1').drop('dupeCount')
            df = df.exceptAll(df.drop_duplicates(cl))
            if df.count() > 0:
                df = df.withColumn("Status", lit('Dupicate_col'))
                df.show()
                df.columns
                bad_data = bad_data.union(df)

        #bad_data.select("Status").filter(data["Status"] != "Rejected").show()
        write_delta(bad_data , data_path + "_" + "baddata")
        rejected_col=read_delta(data_path + "_" + "baddata")

        total_null_rejected_col=rejected_col.filter(rejected_col.Status.like('%Null Rejected%'))
        total_noise_rejected_col=rejected_col.filter(rejected_col.Status.like('%Noise Rejected%'))

        total_null_recommended_col=rejected_col.filter(rejected_col.Status.like('%Null Recommend%'))
        total_noise_recommended_col=rejected_col.filter(rejected_col.Status.like('%Noise Recommend%'))

        total_null_Custom_col=rejected_col.filter(rejected_col.Status.like('%Null Custom%'))

        total_mail_col=rejected_col.filter(rejected_col.Status.like('%Mail Rejected%'))
        return {"Message":"Bad data Sucess","Status":200}
    except:
        if dropCol == True:
            resp = badandsave(data_path)
            #return resp
            if resp["Status"] == 200:
                rejected_col = read_delta(data_path + "_" + "baddata")
                total_null_rejected_col = rejected_col.filter(rejected_col.Status.like('%Null Rejected%'))
                total_noise_rejected_col = rejected_col.filter(rejected_col.Status.like('%Noise Rejected%'))

                total_null_recommended_col = rejected_col.filter(rejected_col.Status.like('%Null Recommend%'))
                total_noise_recommended_col = rejected_col.filter(rejected_col.Status.like('%Noise Recommend%'))

                total_null_Custom_col = rejected_col.filter(rejected_col.Status.like('%Null Custom%'))

                total_mail_col = rejected_col.filter(rejected_col.Status.like('%Mail Rejected%'))
                total_duplicate_col_rejected = rejected_col.filter(rejected_col.Status.like('%Dupicate_col%'))
                return resp ,total_null_rejected_col.count(),total_duplicate_col_rejected.count()
            else:
                return resp

In [ ]:
from spark_utils import read_csv,read_delta,write_delta,write_csv_as_delta,read_delta_as_pddf,read_delta

In [ ]:
from pyspark.sql.functions import *

In [ ]:
write_csv_as_delta("/content/Iris_new.csv")

In [ ]:
df = read_delta('/content/Iris_new')

In [ ]:
df.show()

In [ ]:
cl = df.columns

In [ ]:
df = df.exceptAll(df.drop_duplicates(cl))

In [ ]:
df.show()

+---+---+-------------+------------+-------------+------------+-----------+
|Id0|Id1|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+---+-------------+------------+-------------+------------+-----------+
|  2|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  2|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
+---+---+-------------+------------+-------------+------------+-----------+

In [ ]:
res = {"params":{"path":"/content/Iris_new",
                "null_anamoly":"false",
                "custom_null_cols":[],
                "recommended_nulls":[],
                "rejected_null_cols":[],
                "noise_anamoly":"false",
                "noise_cols":[],
                "rejected_noise_cols":[],
                 "dropCol":True}}
bad_data(params = res["params"])

({'Message': 'Bad data Successful', 'Status': 200}, 0, 2)

In [ ]:
old = read_delta("/content/Iris_new")
old.count()

8

In [ ]:
new = read_delta("/content/Iris_new_baddata")
new.count()

2

In [ ]:
data_no_null = df.na.drop()

In [ ]:
data_no_null.show()

+---+-------------+------------+-------------+------------+-----------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+-------------+------------+-------------+------------+-----------+
|  1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|
|  9|          4.4|         2.9|          1.4|         0.2|Iris-setosa|
| 10|          4.9|         3.1|          1.5|         0.1|Iris-setosa|
| 11|          5.4|         3.7|          1.5|         0.2|Iris-setosa|
| 12|          4.8|         3.4|          1.6|         0.2|Iris-setosa|
| 14|          4.3|         3.0|          1.1|         0.1|Iris-setosa|
+---+-------------+------------+-------------+------------+-----------+
only showing top 20 rows

In [ ]:
df = df.drop("SepalLengthCm")

In [ ]:
!pip install presidio-analyzer
!pip install presidio-anonymizer
!python -m spacy download en_core_web_lg

Collecting presidio-analyzer
  Downloading https://files.pythonhosted.org/packages/ae/0f/572aa2729ffc55bfc98ea9678aaee12c9cfead1b4a5769d8c80392332975/presidio_analyzer-2.2.0-py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 2.6MB/s
Collecting pyyaml==5.4.1
  Downloading https://files.pythonhosted.org/packages/7a/a5/393c087efdc78091afa2af9f1378762f9821c9c1d7a22c5753fb5ac5f97a/PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636kB)
     |████████████████████████████████| 645kB 6.3MB/s
Collecting regex==2020.11.13
  Downloading https://files.pythonhosted.org/packages/61/b2/8f281520d9f08d0f6771b8160a87a4b487850cde9f1abe257da4d8bab599/regex-2020.11.13-cp37-cp37m-manylinux2014_x86_64.whl (719kB)
     |████████████████████████████████| 727kB 8.3MB/s
Collecting tldextract==3.1.0
  Downloading https://files.pythonhosted.org/packages/7e/62/b6acd3129c5615b9860e670df07fd55b76175b63e6b7f68282c7cad38e9e/tldextract-3.1.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 8.0MB/s
Collecting spacy==3.0.5
  Downloading https://files.pythonhosted.org/packages/3a/70/a0b8bd0cb54d8739ba4d6fb3458785c3b9b812b7fbe93b0f10beb1a53ada/spacy-3.0.5-cp37-cp37m-manylinux2014_x86_64.whl (12.8MB)
     |████████████████████████████████| 12.8MB 313kB/s
Collecting requests-file>=1.4
  Downloading https://files.pythonhosted.org/packages/77/86/cdb5e8eaed90796aa83a6d9f75cfbd37af553c47a291cd47bc410ef9bdb2/requests_file-1.5.1-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from tldextract==3.1.0->presidio-analyzer) (2.23.0)
Requirement already satisfied: filelock>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from tldextract==3.1.0->presidio-analyzer) (3.0.12)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from tldextract==3.1.0->presidio-analyzer) (2.10)
Collecting pydantic<1.8.0,>=1.7.1
  Downloading https://files.pythonhosted.org/packages/b3/0a/52ae1c659fc08f13dd7c0ae07b88e4f807ad83fb9954a59b0b0a3d1a8ab6/pydantic-1.7.3-cp37-cp37m-manylinux2014_x86_64.whl (9.1MB)
     |████████████████████████████████| 9.1MB 33.2MB/s
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (1.19.5)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (3.10.1)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (0.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (54.2.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (3.0.5)
Collecting srsly<3.0.0,>=2.4.0
  Downloading https://files.pythonhosted.org/packages/c3/84/dfdfc9f6f04f6b88207d96d9520b911e5fec0c67ff47a0dea31ab5429a1e/srsly-2.4.1-cp37-cp37m-manylinux2014_x86_64.whl (456kB)
     |████████████████████████████████| 460kB 43.4MB/s
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (1.0.5)
Collecting pathy>=0.3.5
  Downloading https://files.pythonhosted.org/packages/a2/53/97dc0197cca9357369b3b71bf300896cf2d3604fa60ffaaf5cbc277de7de/pathy-0.4.0-py3-none-any.whl
Collecting typer<0.4.0,>=0.3.0
  Downloading https://files.pythonhosted.org/packages/90/34/d138832f6945432c638f32137e6c79a3b682f06a63c488dcfaca6b166c64/typer-0.3.2-py3-none-any.whl
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (0.8.2)
Collecting spacy-legacy<3.1.0,>=3.0.0
  Downloading https://files.pythonhosted.org/packages/78/d8/e25bc7f99877de34def57d36769f0cce4e895b374cdc766718efc724f9ac/spacy_legacy-3.0.2-py2.py3-none-any.whl
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (3.7.4.3)
Collecting catalogue<2.1.0,>=2.0.1
  Downloading https://files.pythonhosted.org/packages/82/a5/b5021c74c04cac35a27d34cbf3146d86eb8e173b4491888bc4908c4c8b3b/catalogue-2.0.3-py3-none-any.whl
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (20.9)
Collecting thinc<8.1.0,>=8.0.2
  Downloading https://files.pythonhosted.org/packages/61/87/decceba68a0c6ca356ddcb6aea8b2500e71d9bc187f148aae19b747b7d3c/thinc-8.0.3-cp37-cp37m-manylinux2014_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 46.9MB/s
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (4.41.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (2.0.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.5->presidio-analyzer) (2.11.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from requests-file>=1.4->tldextract==3.1.0->presidio-analyzer) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->tldextract==3.1.0->presidio-analyzer) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->tldextract==3.1.0->presidio-analyzer) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->tldextract==3.1.0->presidio-analyzer) (3.0.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->spacy==3.0.5->presidio-analyzer) (3.4.1)
Collecting smart-open<4.0.0,>=2.2.0
  Downloading https://files.pythonhosted.org/packages/11/9a/ba2d5f67f25e8d5bbf2fcec7a99b1e38428e83cb715f64dd179ca43a11bb/smart_open-3.0.0.tar.gz (113kB)
     |████████████████████████████████| 122kB 57.9MB/s
Requirement already satisfied: click<7.2.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.4.0,>=0.3.0->spacy==3.0.5->presidio-analyzer) (7.1.2)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy==3.0.5->presidio-analyzer) (2.4.7)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy==3.0.5->presidio-analyzer) (1.1.1)
Building wheels for collected packages: smart-open
  Building wheel for smart-open (setup.py) ... done
  Created wheel for smart-open: filename=smart_open-3.0.0-cp37-none-any.whl size=107098 sha256=4b6aeefc1bd9f5f29e8a81a7ca11aa3822a81e14de4005e17fb2f58afce55ed6
  Stored in directory: /root/.cache/pip/wheels/18/88/7c/f06dabd5e9cabe02d2269167bcacbbf9b47d0c0ff7d6ebcb78
Successfully built smart-open
Installing collected packages: pyyaml, regex, requests-file, tldextract, pydantic, catalogue, srsly, smart-open, typer, pathy, spacy-legacy, thinc, spacy, presidio-analyzer
  Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Found existing installation: regex 2019.12.20
    Uninstalling regex-2019.12.20:
      Successfully uninstalled regex-2019.12.20
  Found existing installation: catalogue 1.0.0
    Uninstalling catalogue-1.0.0:
      Successfully uninstalled catalogue-1.0.0
  Found existing installation: srsly 1.0.5
    Uninstalling srsly-1.0.5:
      Successfully uninstalled srsly-1.0.5
  Found existing installation: smart-open 5.0.0
    Uninstalling smart-open-5.0.0:
      Successfully uninstalled smart-open-5.0.0
  Found existing installation: thinc 7.4.0
    Uninstalling thinc-7.4.0:
      Successfully uninstalled thinc-7.4.0
  Found existing installation: spacy 2.2.4
    Uninstalling spacy-2.2.4:
      Successfully uninstalled spacy-2.2.4
Successfully installed catalogue-2.0.3 pathy-0.4.0 presidio-analyzer-2.2.0 pydantic-1.7.3 pyyaml-5.4.1 regex-2020.11.13 requests-file-1.5.1 smart-open-3.0.0 spacy-3.0.5 spacy-legacy-3.0.2 srsly-2.4.1 thinc-8.0.3 tldextract-3.1.0 typer-0.3.2
Collecting presidio-anonymizer
  Downloading https://files.pythonhosted.org/packages/11/70/8ee659fa28be7dfccf0c43f1267bf1ba17e50319bb61e4f28bedc24a6885/presidio_anonymizer-2.2.0-py3-none-any.whl
Collecting pycryptodome==3.10.1
  Downloading https://files.pythonhosted.org/packages/ad/16/9627ab0493894a11c68e46000dbcc82f578c8ff06bc2980dcd016aea9bd3/pycryptodome-3.10.1-cp35-abi3-manylinux2010_x86_64.whl (1.9MB)
     |████████████████████████████████| 1.9MB 6.2MB/s
Installing collected packages: pycryptodome, presidio-anonymizer
Successfully installed presidio-anonymizer-2.2.0 pycryptodome-3.10.1
2021-04-19 19:28:29.760301: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0
Collecting en-core-web-lg==3.0.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.0.0/en_core_web_lg-3.0.0-py3-none-any.whl (778.8MB)
     |████████████████████████████████| 778.8MB 20kB/s
Requirement already satisfied: spacy<3.1.0,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from en-core-web-lg==3.0.0) (3.0.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (2.23.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (3.0.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (20.9)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (4.41.1)
Requirement already satisfied: thinc<8.1.0,>=8.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (8.0.3)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (0.4.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (3.0.2)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (1.19.5)
Requirement already satisfied: typer<0.4.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (0.3.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (2.11.3)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (0.8.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (54.2.0)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (3.7.4.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (2.0.5)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (0.4.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (1.0.5)
Requirement already satisfied: catalogue<2.1.0,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (2.0.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (2.4.1)
Requirement already satisfied: pydantic<1.8.0,>=1.7.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (1.7.3)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (3.10.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (1.24.3)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (2.4.7)
Requirement already satisfied: smart-open<4.0.0,>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (3.0.0)
Requirement already satisfied: click<7.2.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.4.0,>=0.3.0->spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (1.1.1)
Requirement already satisfied: zipp>=0.5; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.1->spacy<3.1.0,>=3.0.0->en-core-web-lg==3.0.0) (3.4.1)
Installing collected packages: en-core-web-lg
Successfully installed en-core-web-lg-3.0.0
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_lg')

In [ ]:
from presidio_analyzer import AnalyzerEngine
from presidio_anonymizer import AnonymizerEngine

text="My phone number is 212-555-5555"

# Set up the engine, loads the NLP module (spaCy model by default) 
# and other PII recognizers
analyzer = AnalyzerEngine()

# Call analyzer to get results
results = analyzer.analyze(text=text,
                           entities=["PHONE_NUMBER"],
                           #entities=["Name"],
                           language='en')
#print(entities)

# Analyzer results are passed to the AnonymizerEngine for anonymization

anonymizer = AnonymizerEngine()

anonymized_text = anonymizer.anonymize(text=text,analyzer_results=results)

print(anonymized_text)

[2021-04-19 19:55:49,465] [WARNING] [W108] The rule-based lemmatizer did not find POS annotation for the token 'My'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
[2021-04-19 19:55:49,467] [WARNING] [W108] The rule-based lemmatizer did not find POS annotation for the token 'phone'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
[2021-04-19 19:55:49,470] [WARNING] [W108] The rule-based lemmatizer did not find POS annotation for the token 'number'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
[2021-04-19 19:55:49,472] [WARNING] [W108] The rule-based lemmatizer did not find POS annotation for the token 'is'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
[2021-04-19 19:55:49,474] [WARNING] [W108] The rule-based lemmatizer did not find POS annotation for the token '212'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
[2021-04-19 19:55:49,475] [WARNING] [W108] The rule-based lemmatizer did not find POS annotation for the token '-'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
[2021-04-19 19:55:49,477] [WARNING] [W108] The rule-based lemmatizer did not find POS annotation for the token '555'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
[2021-04-19 19:55:49,478] [WARNING] [W108] The rule-based lemmatizer did not find POS annotation for the token '-'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
[2021-04-19 19:55:49,479] [WARNING] [W108] The rule-based lemmatizer did not find POS annotation for the token '5555'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.

NameError: ignored

In [ ]:
print(results)

[type: PHONE_NUMBER, start: 19, end: 31, score: 1.0]

In [ ]:
len(data.columns)

6

In [ ]:
res = {"params":{"path":"/content/Iris_new",
                "null_anamoly":"false",
                "custom_null_cols":[],
                "recommended_nulls":[],
                "rejected_null_cols":[],
                "noise_anamoly":"false",
                "noise_cols":[],
                "rejected_noise_cols":[],
                 "dropCol":True}}
bad_data(params = res["params"])

({'Message': 'Bad data Successful', 'Status': 200}, 0, 14)

In [ ]:
res

{'params': {'custom_null_cols': [],
  'dropCol': True,
  'noise_anamoly': 'false',
  'noise_cols': [],
  'null_anamoly': 'false',
  'path': '/content/Iris_new',
  'recommended_nulls': [],
  'rejected_noise_cols': [],
  'rejected_null_cols': []}}

In [ ]:
res = {"params":{"path":"/content/Iris_new",
                "null_anamoly":"false",
                "custom_null_cols":["PetalLengthCm"],
                "recommended_nulls":["SepalWidthCm"],
                "rejected_null_cols":["SepalLengthCm"],
                "noise_anamoly":"false",
                "noise_cols":[],
                "rejected_noise_cols":[],
                 "dropCol":True}}
bad_data(params = res["params"])

+---+-------------+------------+-------------+------------+---------------+-------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|        Species|       Status|
+---+-------------+------------+-------------+------------+---------------+-------------+
| 98|         null|         2.9|          4.3|         1.3|Iris-versicolor|Null Rejected|
| 97|         null|         2.9|          4.2|         1.3|Iris-versicolor|Null Rejected|
| 42|         null|         2.3|          1.3|         0.3|    Iris-setosa|Null Rejected|
| 83|         null|         2.7|          3.9|         1.2|Iris-versicolor|Null Rejected|
| 43|         null|         3.2|          1.3|         0.2|    Iris-setosa|Null Rejected|
| 53|         null|         3.1|          4.9|         1.5|Iris-versicolor|Null Rejected|
| 61|         null|         2.0|          3.5|         1.0|Iris-versicolor|Null Rejected|
| 85|         null|         3.0|          4.5|         1.5|Iris-versicolor|Null Rejected|
| 77|         null|         2.8|          4.8|         1.4|Iris-versicolor|Null Rejected|
| 51|         null|         3.2|          4.7|         1.4|Iris-versicolor|Null Rejected|
| 52|         null|         3.2|          4.5|         1.5|Iris-versicolor|Null Rejected|
| 39|         null|         3.0|          1.3|         0.2|    Iris-setosa|Null Rejected|
| 35|         null|         3.1|          1.5|         0.1|    Iris-setosa|Null Rejected|
| 54|         null|         2.3|          4.0|         1.3|Iris-versicolor|Null Rejected|
| 37|         null|         3.5|          1.3|         0.2|    Iris-setosa|Null Rejected|
| 95|         null|         2.7|          4.2|         1.3|Iris-versicolor|Null Rejected|
| 84|         null|         2.7|          5.1|         1.6|Iris-versicolor|Null Rejected|
| 62|         null|         3.0|          4.2|         1.5|Iris-versicolor|Null Rejected|
| 45|         null|         3.8|          1.9|         0.4|    Iris-setosa|Null Rejected|
| 88|         null|         2.3|          4.4|         1.3|Iris-versicolor|Null Rejected|
+---+-------------+------------+-------------+------------+---------------+-------------+
only showing top 20 rows

['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species', 'Status']
+---+-------------+------------+-------------+------------+-----------+------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|      Status|
+---+-------------+------------+-------------+------------+-----------+------------+
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|Dupicate_col|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|Dupicate_col|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|Dupicate_col|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|Dupicate_col|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|Dupicate_col|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|Dupicate_col|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|Dupicate_col|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|Dupicate_col|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|Dupicate_col|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|Dupicate_col|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|Dupicate_col|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|Dupicate_col|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|Dupicate_col|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|Dupicate_col|
+---+-------------+------------+-------------+------------+-----------+------------+

{'Message': 'Bad data Sucess', 'Status': 200}

In [ ]:
dup_col = read_delta("/content/Iris_new_baddata")
dup_col.show()

+---+-------------+------------+-------------+------------+---------------+-------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|        Species|       Status|
+---+-------------+------------+-------------+------------+---------------+-------------+
|  4|          4.6|         3.1|          1.5|         0.2|    Iris-setosa| Dupicate_col|
|  4|          4.6|         3.1|          1.5|         0.2|    Iris-setosa| Dupicate_col|
|  3|          4.7|         3.2|          1.3|         0.2|    Iris-setosa| Dupicate_col|
|  3|          4.7|         3.2|          1.3|         0.2|    Iris-setosa| Dupicate_col|
|  5|          5.0|         3.6|          1.4|         0.2|    Iris-setosa| Dupicate_col|
|  5|          5.0|         3.6|          1.4|         0.2|    Iris-setosa| Dupicate_col|
|  8|          5.0|         3.4|          1.5|         0.2|    Iris-setosa| Dupicate_col|
|  8|          5.0|         3.4|          1.5|         0.2|    Iris-setosa| Dupicate_col|
|  6|          5.4|         3.9|          1.7|         0.4|    Iris-setosa| Dupicate_col|
|  6|          5.4|         3.9|          1.7|         0.4|    Iris-setosa| Dupicate_col|
|  2|          4.9|         3.0|          1.4|         0.2|    Iris-setosa| Dupicate_col|
|  2|          4.9|         3.0|          1.4|         0.2|    Iris-setosa| Dupicate_col|
|  7|          4.6|         3.4|          1.4|         0.3|    Iris-setosa| Dupicate_col|
|  7|          4.6|         3.4|          1.4|         0.3|    Iris-setosa| Dupicate_col|
| 56|         null|         2.8|          4.5|         1.3|Iris-versicolor|Null Rejected|
| 72|         null|         2.8|          4.0|         1.3|Iris-versicolor|Null Rejected|
| 63|         null|         2.2|          4.0|         1.0|Iris-versicolor|Null Rejected|
| 66|         null|         3.1|          4.4|         1.4|Iris-versicolor|Null Rejected|
| 69|         null|         2.2|          4.5|         1.5|Iris-versicolor|Null Rejected|
| 70|         null|         2.5|          3.9|         1.1|Iris-versicolor|Null Rejected|
+---+-------------+------------+-------------+------------+---------------+-------------+
only showing top 20 rows

In [ ]:
dd = read_delta("/content/Iris_new_baddata")
dd.show()

+---+-------------+------------+-------------+------------+-----------+------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|      Status|
+---+-------------+------------+-------------+------------+-----------+------------+
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|Dupicate_col|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|Dupicate_col|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|Dupicate_col|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|Dupicate_col|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|Dupicate_col|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|Dupicate_col|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|Dupicate_col|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|Dupicate_col|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|Dupicate_col|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|Dupicate_col|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|Dupicate_col|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|Dupicate_col|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|Dupicate_col|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|Dupicate_col|
+---+-------------+------------+-------------+------------+-----------+------------+

In [ ]:
import pyspark.sql.functions as f
from pyspark.sql import Window
cl = df.columns
w = Window.partitionBy(cl)
df = df.select('*', f.count(cl[3]).over(w).alias('dupeCount'))\
    .where('dupeCount > 1')\
    .drop('dupeCount')
df = df.withColumn("Status", lit('Dupicate_col'))

In [ ]:
import pyspark.sql.functions as f
from pyspark.sql import Window

In [ ]:
data = read_delta('/content/Noisy_churn_baddata')
data.count()

131

In [ ]:
df = read_delta_as_pddf('/content/Noisy_churn_baddata')

In [ ]:
df.head()

    _c0  RowNumber        date  ...  payment_mode             mailId          Status
0  2632       2633   11/1/2012  ...    debit_card   abcdjkm@nots.qtw  NoiseRecommend
1  6950       6951  12/23/2016  ...    debit_card         hello#.com  NoiseRecommend
2  1280       1281   7/16/2011  ...    debit_card         hello#.com  NoiseRecommend
3    38         39    5/7/2010  ...    debit_card  abc.dfx@qnom.uhpb   NullRecommend
4   941        942   3/19/2011  ...    debit_card         hello#.com  NoiseRecommend

[5 rows x 21 columns]

In [ ]:
df['Status'].value_counts()

NoiseRecommend    95
NullRejected      25
NullRecommend     11
Name: Status, dtype: int64

In [ ]:
a = []
b = []
c = []
for li in zip(a,b,c):
    if not li:
        print('scvsavgjasxsa')

Code for Deployement

In [ ]:
def bad_data(**kwargs):
    #path = kwargs["params"]["path"]
    id_ = kwargs["params"]["_id"]
    #mail_anamoly = kwargs["params"]["mail_anamoly"]
    mail_col_reject = []
    #mail_col = kwargs["params"]["mail_col"]
    null_anamoly = kwargs["params"]["null_anamoly"]
    null_col_custom = kwargs["params"]["custom_null_cols"]
    null_col_recommend = kwargs["params"]["recommended_nulls"]
    null_col_reject = kwargs["params"]["rejected_null_cols"]
    noise_anamoly = kwargs["params"]["noise_anamoly"]
    noise_col_remove = kwargs["params"]["noise_cols"]
    noise_col_reject = kwargs["params"]["rejected_noise_cols"]
    noise_col = []
    #data = read_delta(path)
    #data = data.withColumn("Status",lit("Not"))
    c,d,e = 0,0,0
    data_lis = []
    collection  = db.Ingestion
    val = collection.find_one({"_id": ObjectId(id_)})
    #if val["sourcePath"].split(".")[-1] not in ["csv","json","tsv"]:
    #id_ = val["sourcePath"].replace("queryslice" , "rawslice") +"."+ val["file_extention"]
    data = read_delta(val["sourcePath"])  
    #data = data.withColumn("Status",lit("Not"))
            
    if null_anamoly=="true":
        for col in  null_col_recommend + null_col_custom:
            if col in null_col_recommend:
                if c == 0:
                    data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Recommend"))
                else:
                    data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Recommend").otherwise(data['Status']))
            elif col in null_col_custom:
                if c == 0:
                    data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Custom"))
                else:
                    data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Custom").otherwise(data['Status']))
            c += 1
    if noise_anamoly == "true":
        for col in noise_col + noise_col_remove:
            if col in noise_col:
                if c == 0:
                    data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "No_action"))
                else:
                    data = data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "No_action").otherwise(data['Status']))
            elif col in noise_col_remove:
                if c == 0:
                    data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "Noise Recommend"))
                else:
                    data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "Noise Recommend").otherwise(data['Status']))
            c += 1   
    for col in mail_col_reject + null_col_reject + noise_col_reject :
        if col in mail_col_reject:
            if c == 0:
                data = data.withColumn("Status",when(~(data[col].rlike('^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$')) , "Rejected"))
            else:
                data = data.withColumn("Status",when(~(data[col].rlike('^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$')) , "Rejected").otherwise(data['Status']))
        elif col in null_col_reject:
            if c == 0:
                data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Rejected"))
            else:
                data = data.withColumn("Status",when((data[col].isNull() | isnan(data[col])) , "Null Rejected").otherwise(data['Status']))
        elif col in noise_col_reject:
            if c == 0:
                data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "Noise Rejected"))
            else:
                data = data.withColumn("Status",when((data[col].rlike('[@_!#$%^&*()<>?/\|}{~:]')) , "Noise Rejected").otherwise(data['Status']))  
        c += 1     
    bad_data = data.filter(~data["Status"].isNull())
    bad_data = bad_data.dropDuplicates()
    #bad_data.select("Status").filter(data["Status"] != "Rejected").show()
    write_delta(bad_data , val["sourcePath"]+ "_" + "baddata")
    rejected_col=read_delta(val["sourcePath"]+ "_" + "baddata")
    total_rejected_col=rejected_col.filter(rejected_col.Status.like('%Rejected%'))
    total_recommended_col=rejected_col.filter(rejected_col.Status.like('%Recommend%'))
    return  {"Status":200,"Message":"Successful","total_row_count":rejected_col.count(),"total_rejected_col":total_rejected_col.count(),"total_recommended_col":total_recommended_col.count()}

In [ ]:
from pyspark.sql.functions import *

In [ ]:
from pyspark.sql.functions import *

In [ ]:
#df.write.format("delta").option("overwriteSchema", "true").mode("overwrite").save('file_test')

In [ ]:
#df.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save('file_test_teja')

In [ ]:
def data_passer(data):
    global data_frame
    data_frame = data
    return data_frame
data_frame = data_frame

In [ ]:
def read_csv(file_path : str , header : str= "true") -> pyspark.sql.dataframe.DataFrame:
    df = spark.read.format("csv") \
    .option("inferSchema", "true") \
    .option("header", header) \
    .option("sep", ",") \
    .load(file_path)
    data_passer(df)
    return

In [ ]:
read_csv('/content/sample_data/california_housing_test.csv','true')

In [ ]:
def write_csv_as_delta(file_path : str) -> None:
    df = read_csv(file_path)
    file_name = file_path.split("/")[-1].split(".")[0]
    write_delta(df , file_name)

In [ ]:
def write_delta(data : pyspark.sql.dataframe.DataFrame, file_path : str , mode : str = "overwrite") -> None:
    bad_cols = get_cols_with_bad_chars(data.columns)
    if len(bad_cols) == 0:
        pass
    else :
        for col_name , bad_char in bad_cols :
            data = data.withColumnRenamed(col_name , ''.join(col_name.split(bad_char)))
    data.write.format("delta").option("overwriteSchema", "true").mode(mode).save(file_path)

In [ ]:
def get_cols_with_bad_chars(cols : list) -> list :
    bad_cols = []
    for i in cols :
        if " " in i :
            bad_cols.append([i , " "])
        elif ";" in i :
            bad_cols.append([i , ";"])
        elif "?" in i :
            bad_cols.append([i , "?"])
        elif "!" in i :
            bad_cols.append([i , "!"])
        elif "@" in i :
            bad_cols.append([i , "@"])
        elif "#" in i :
            bad_cols.append([i , "#"])
    return bad_cols

In [ ]:
def read_delta(file_path : str) -> (pyspark.sql.dataframe.DataFrame , str):
    try :
        data = spark.read.format("delta").load(file_path)
    except :
        return " File doesn't exist or its not in Delta format !"
    return data

In [ ]:
def read_delta_as_pddf(file_path):
    spark_df = read_delta(file_path)
    if isinstance(spark_df , (str)):
        return " File doesn't exist or its not in Delta format !"
    pandas_df = spark_df.select("*").toPandas()
    return pandas_df

In [ ]:
write_csv_as_delta('/content/Churn_latest_modifed.csv')

In [ ]:
df = read_delta('/content/Churn_latest_modifed')

In [ ]:
df.schema

StructType(List(StructField(RowNumber,IntegerType,true),StructField(date,StringType,true),StructField(CustomerId,IntegerType,true),StructField(NI_number,StringType,true),StructField(Credit_Card_No,StringType,true),StructField(Surname,StringType,true),StructField(CreditScore,IntegerType,true),StructField(Geography,StringType,true),StructField(Gender,StringType,true),StructField(Age,DoubleType,true),StructField(Tenure,DoubleType,true),StructField(Balance,StringType,true),StructField(NumOfProducts,IntegerType,true),StructField(HasCrCard,IntegerType,true),StructField(IsActiveMember,IntegerType,true),StructField(EstimatedSalary,StringType,true),StructField(Exited,IntegerType,true),StructField(payment_mode,StringType,true)))

In [ ]:
from pyspark.sql.functions import to_timestamp
from collections import Counter
from pyspark.sql.functions import *

In [ ]:
def getDate(Date: str, Structure: str = None):
    if Date == 'null' or Date == None:
        return None
    # dates = list(datefinder.find_dates(Date))
    try:
        date = parse(Date)
        if date is not None:
            return date
        else:
            # datetime.strptime('01-01-0001', '%m-%d-%Y')
            return None
    except:
        return None

In [ ]:
def convertToDateTime(file_path,col_name):
    structure = None
    data = read_delta(file_path)
    data.show()
    #dat_vals = data.select(col_name).collect()[:100]
    dat_vals = data.select(col_name)
    dat_vals = dat_vals.collect()[:100]
    #return {"da":dat_vals}
    dat_vals = list(map(lambda x : x[0] , dat_vals))
    dat_vals = list(map(lambda x : getDate(x), dat_vals))
    dat_vals = Counter(dat_vals)
    #if dat_vals[None] > 20 :
    #return {"Status" : 201 , "Message" : "Not a Datetime to be converted to Datetype"}
    if str(data.schema[col_name].dataType) == "StringType":
        func =  udf(lambda x: getDate(x , structure), DateType())
        data = data.withColumn(col_name, func(col(col_name)))
        #return {"11111":11111}
        write_delta(data , file_path)
        return {"11111":11111}
    else :
        return {"Status" : 201 , "Message" : "Only String Datatypes can be converted to Datetime"}

In [ ]:
convertToDateTime('/content/Churn_latest_modifed','date')

+---------+---------+----------+-------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+
|RowNumber|     date|CustomerId|    NI_number|     Credit_Card_No|  Surname|CreditScore|Geography|Gender| Age|Tenure|   Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|payment_mode|
+---------+---------+----------+-------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+
|        1|4/24/2010|  15634602|EJ 87 23 16 H|6518 2286 9458 0302| Hargrave|        619|   France|Female|42.0|   2.0|      0.0$|            1|        1|             1|     101348.88$|     1|  debit_card|
|        2|4/24/2010|  15647311|OL 43 31 62 W|1895 4190 0493 2177|     Hill|        608|    Spain|Female|41.0|   1.0| 83807.86$|            1|        0|             1|     112542.58$|     0|  debit_card|
|        3|4/24/2010|  15619304|SP 19 16 08 Z|7391 2068 7721 4726|     Onio|        502|   France|Female|42.0|   8.0| 159660.8$|            3|        1|             0|     113931.57$|     1|  debit_card|
|        4|4/25/2010|  15701354|BL 75 04 39 Q|8863 3167 4447 6130|     Boni|        699|   France|Female|null|   1.0|      0.0$|            2|        0|             0|      93826.63$|     0| Credit_card|
|        5|4/25/2010|  15737888|VJ 49 13 25 F|6042 7133 1005 8123| Mitchell|        850|    Spain|Female|39.0|  null|125510.82$|            1|        1|             1|       79084.1$|     0| Credit_card|
|        6|4/25/2010|  15574012|LI 01 30 98 Q|4425 9932 7939 1867|      Chu|        645|    Spain|  Male|null|   8.0|113755.78$|            2|        1|             0|     149756.71$|     1|  debit_card|
|        7|4/26/2010|  15592531|EQ 03 89 69 M|7794 1734 3408 3103| Bartlett|        822|   France|  Male|50.0|  null|      0.0$|            2|        1|             1|       10062.8$|     0|  debit_card|
|        8|4/26/2010|  15656148|RA 20 76 44 N|7862 7332 2009 7097|   Obinna|        376|  Germany|Female|29.0|   4.0|115046.74$|            4|        1|             0|     119346.88$|     1| Credit_card|
|        9|4/26/2010|  15792365|XX 88 51 05 C|0985 3441 5947 6664|       He|        501|   France|  Male|44.0|   4.0|142051.07$|            2|        0|             1|       74940.5$|     0| Credit_card|
|       10|4/27/2010|  15592389|HF 10 25 99 E|7783 3046 1162 8870|       H?|        684|   France|  Male|27.0|   2.0|134603.88$|            1|        1|             1|      71725.73$|     0|  debit_card|
|       11|4/27/2010|  15767821|HR 79 79 37 T|4643 4252 8979 4317|   Bearce|        528|   France|  Male|null|  null|102016.72$|            2|        0|             0|      80181.12$|     0|  debit_card|
|       12|4/27/2010|  15737173|UL 84 05 44 Y|2148 3870 3474 5852|  Andrews|        497|    Spain|  Male|24.0|  null|      0.0$|            2|        1|             0|      76390.01$|     0|  debit_card|
|       13|4/28/2010|  15632264|NY 23 39 00 W|5111 6254 4955 3485|      Kay|        476|   France|Female|34.0|  null|      0.0$|            2|        1|             0|      26260.98$|     0|  debit_card|
|       14|4/28/2010|  15691483|UP 19 02 03 O|1813 2711 3855 5658|     Chin|        549|   France|Female|34.0|   5.0|      0.0$|            2|        0|             0|     190857.79$|     0| Credit_card|
|       15|4/28/2010|  15600882|BC 81 86 38 Z|1855 9335 9147 1280|    Scott|        635|    Spain|Female|34.0|   7.0|      0.0$|            2|        1|             1|      65951.65$|     0|  debit_card|
|       16|4/29/2010|  15643966|OP 12 33 50 G|0486 0327 5429 1176|  Goforth|        616|  Germany|  Male|null|   3.0|143129.41$|            2|        0|             1|      64327.26$|     0| Credit_card|
|       17|4/29/2010|  15737452|WM 60 91 78 K|8079 7648 7959 1858|    Romeo|        653|  Germany|  Male|58.0|   1.0|132602.88$|            1|        1|             0|       5097.67$|     1| Credit_card|
|       18|4/29/2010|  15788218|MI 29 05 40 J|2375 4679 8792 5009|Henderson|        549|    Spain|Female|24.0|   9.0|      0.0$|            2|        1|             1|      14406.41$|     0| Credit_card|
|       19|4/30/2010|  15661507|JM 62 01 40 X|3144 4069 0205 9336|  Muldrow|        587|    Spain|  Male|45.0|   6.0|      0.0$|            1|        0|             0|     158684.81$|     0| Credit_card|
|       20|4/30/2010|  15568982|IR 51 70 14 X|5284 8662 0654 4079|      Hao|        726|   France|Female|24.0|   6.0|      0.0$|            2|        1|             1|      54724.03$|     0| Credit_card|
+---------+---------+----------+-------------+-------------------+---------+-----------+---------+------+----+------+----------+-------------+---------+--------------+---------------+------+------------+
only showing top 20 rows

{'11111': 11111}

In [ ]:
import pandas as pd
from fbprophet import Prophet

In [ ]:
# Python
#df = pd.read_csv('/content/GOOG.csv')
#df.head()

In [ ]:
#df = df.drop(['Open','High','Low','Adj_Close','Volume'],axis = 1)

In [ ]:
#df.head()

        Date      Close
0  8/19/2004  49.982655
1  8/20/2004  53.952770
2  8/23/2004  54.495735
3  8/24/2004  52.239193
4  8/25/2004  52.802086

In [ ]:
#df.columns = ['ds','y']

In [ ]:
#df.head()

          ds          y
0  8/19/2004  49.982655
1  8/20/2004  53.952770
2  8/23/2004  54.495735
3  8/24/2004  52.239193
4  8/25/2004  52.802086

In [ ]:
#df.tail()

In [ ]:
#df.shape

(3809, 2)

In [ ]:
import random
import pyspark
import json
import time,os,sys
import string
import pickle
import pandas as pd
from fbprophet import Prophet
from fbprophet.serialize import model_to_json, model_from_json

In [ ]:
"""def cureent_date_time():
    current_time = time.time()
    name = str(current_time).split('.')[0]
    res = ''.join(random.choices(string.ascii_uppercase , k = 5))
    final_name = ''.join(name+res+'.json')
    return final_name"""

In [ ]:
def test(string): 
	print(string)
	string = "GeeksforGeeks"
	print("Inside Function:", string) 
	
test(string) 
print("Outside Function:", string)

Geeks
Inside Function: GeeksforGeeks
Outside Function: Geeks

In [ ]:
def write_pickle_aws(Access_key : str , Secret_key : str , Bucket : str , Key : str , Object):
    client = boto3.client(
                        's3',
                        aws_access_key_id = Access_key,
                        aws_secret_access_key = Secret_key
                    )
    pickle_byte_obj = pickle.dumps(Object)
    response = client.put_object(Body=pickle_byte_obj, Bucket=Bucket, Key=Key)
    return {"Status" : response["ResponseMetadata"]["HTTPStatusCode"]}

In [ ]:
def load_pickle_aws(Access_key : str , Secret_key : str , Bucket : str , Key : str):
    client = boto3.client(
                        's3',
                        aws_access_key_id = Access_key,
                        aws_secret_access_key = Secret_key
                    )
    response = client.get_object(Bucket=Bucket, Key=Key)
    body = response['Body'].read()
    data = pickle.loads(body)
    return data

In [ ]:
"""def SaveModel(path_model ,  type_ , user_id ,model_name,model):
    if type_ == 'local':
        with open(path_model + '/' + model_name,'w') as fout:
            json.dump(model_to_json(model), fout)
        #pickle_out.close()
    elif type_ == 's3':
        ak , sec = get_acess_and_secret(user_id)
        bucket = path_model.split("/")[2]
        key = '/'.join((path_model).split("/")[3:])
        key = key + '/' + model_name
        write_pickle_aws(ak , sec , bucket , key , model)"""

In [ ]:
#os.makedirs(path + '/forcasting',exist_ok = True)

In [ ]:
#pickle_out = open(test + '/forcasting' + "/model.Teja","wb")

In [ ]:
def SaveModel(type_ , path, user_id , model):
    if type_ == 'local':
        #print("haii",11111111111111111111111111111111111111)
        #path = path.split('.')[0] 
        #print(path)      
        os.makedirs(path +'/forcasting',exist_ok =True)
        print(path)
        pickle_out = open(path + '/forcasting' + "/model.Teja","wb")
        #print("haii",2222222222222222222222222222222222222)
        pickle.dump(model, pickle_out)
        pickle_out.close()
    elif type_ == 's3':
        ak , sec = get_acess_and_secret(user_id)
        bucket = path.split("/")[2]
        key = '/'.join((path).split("/")[3:])
        key = key + "/model.Teja"
        write_pickle_aws(ak , sec , bucket , key , model)

In [ ]:
#model = Prophet()  
#model.fit(df)

In [ ]:
#Traning('local','/content/GOOG.csv','Date','Close',1245)

In [ ]:
#SaveModel('local','/content/GOOG.csv',1234,model)

In [ ]:
"""def SaveModel(path_model ,  type_ , user_id , model):
    if type_ == 'local':
        path_model = path.split('.')[0]       
	    #os.makedirs(path + '/forcasting',exist_ok = True)
        pickle_out = open(path_model + "/model.Teja","wb")
        pickle.dump(model, pickle_out)
        pickle_out.close()
    elif type_ == 's3':
        ak , sec = get_acess_and_secret(user_id)
        bucket = path_model.split("/")[2]
        key = '/'.join((path_model).split("/")[3:])
        key = key + "/model.Teja"
        write_pickle_aws(ak , sec , bucket , key , model)"""

'def SaveModel(path_model ,  type_ , user_id , model):\n    if type_ == \'local\':\n        path_model = path.split(\'.\')[0]       \n\t    #os.makedirs(path + \'/forcasting\',exist_ok = True)\n        pickle_out = open(path_model + "/model.Teja","wb")\n        pickle.dump(model, pickle_out)\n        pickle_out.close()\n    elif type_ == \'s3\':\n        ak , sec = get_acess_and_secret(user_id)\n        bucket = path_model.split("/")[2]\n        key = \'/\'.join((path_model).split("/")[3:])\n        key = key + "/model.Teja"\n        write_pickle_aws(ak , sec , bucket , key , model)'

In [ ]:
#data_path = "oss://ai-surge-prd-oss/surge-rawslice/raacom/iliyaz/public_project/99123588-19ef-11eb-aecd-00163e013ddc_samplepipe_delimiter"

In [ ]:
#model_path = data_path.split('.')[0]

In [ ]:
/content/GOOG/forcasting/data_goo

In [ ]:
data_goo

In [ ]:
def LoadModel(path_model , type_ , user_id):
    if type_ == 'local':
        pickle_in = open(path_model + '/forcasting/model.Teja' ,"rb")
        model = pickle.load(pickle_in)
        return model
    elif type_ == 's3':
        ak , sec = get_acess_and_secret(user_id)
        bucket = path_model.split("/")[2]
        key = '/'.join((path_model).split("/")[3:])
        key = key + "/model.Teja"
        return load_pickle_aws(ak , sec , bucket , key)

In [ ]:
def Data_set(path,date_column,prediction_column):
    df = read_delta_as_pddf(path)
    df.head()
    df = df[[date_column,prediction_column]]
    if df.isnull().sum().sum() > 0:
    	print('Removed column')
    	df = df.dropna()
    df.columns  = ['ds','y']
    df["ds"]= pd.to_datetime(df["ds"])
    return df

In [ ]:
#df = read_delta_as_pddf('/content/GOOGNull')

In [ ]:
#df.isnull().sum()

In [ ]:
#Data_set('/content/GOOGNull','Date','Close')

In [ ]:
orig_out = sys.stdout
sys.stdout = open(os.devnull, 'w')
sys.stdout = orig_out

In [ ]:
#path = '/content/GOOG/teja/iliyaz'

In [ ]:
#path = path.split('/')

In [ ]:
def save_model_col(path,some_obj):
    os.makedirs(path + '/columns/',exist_ok =True)
    with open(path + '/columns/' + '/mypickle.pickle', 'wb') as f:
        pickle.dump(some_obj, f)

In [ ]:
def load_model_col(path):
    with open(path + '/columns/' + '/mypickle.pickle', 'rb') as f:
        loaded_obj = pickle.load(f)
        return loaded_obj

In [ ]:
#df = Data_set('/content/GOOG','Date','Close')

In [ ]:
def Traning(path,date_column,prediction_column,user_id,type_):
    df = Data_set(path,date_column,prediction_column)
    df['ds'] = pd.to_datetime(df['ds']).dt.date
    max_date = df['ds'].max()
    #max_date = str(max_date)
    #max_date = max_date.split(' ')[0]
    print(max_date)
    some_obj = {'columns_':[date_column,prediction_column]}
    save_model_col(path,some_obj)
    #print("haii",2222222222222222222222222222222222222)
    #pickle.dump(model, pickle_out)
    #import logging
    #logging.getLogger('fbprophet').setLevel(logging.WARNING)
    model = Prophet()  
    model.fit(df)
    SaveModel(type_, path , user_id , model)
    return {'model saved Sucessfully'}

In [ ]:
Traning('/content/GOOG','Date','Close',1245,'local')

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

2019-10-04
/content/GOOG

{'model saved Sucessfully'}

In [ ]:
def data_frame(window,date):
    ls = []
    for i in range(window): 
        date += datetime.timedelta(days=1)
        ls.append(date)
    data = pd.DataFrame(ls,columns =['ds'])
    return data

In [ ]:
import time
import datetime

In [ ]:
def data_frame(window,date):
    ls = []
    for i in range(window): 
        date += datetime.timedelta(days=1)
        ls.append(date)
    return ls

In [ ]:
date = datetime.datetime(2003,8,1)
date -= datetime.timedelta(days=30)
date

datetime.datetime(2003, 7, 2, 0, 0)

In [ ]:
def Max_min_time(Table_name,date,window):
    client.execute(f'USE {DB}')
    max_date = client.execute(f"SELECT max {date} FROM {Table_name}")
    date = datetime.datetime(max_date)
    min_date -= datetime.timedelta(days=window)
    min_date
    data = client.execute(f"SELECT * FROM {Table_name} WHERE {date} BETWEEN {min_date} AND {max_date}")
    return data

In [ ]:
SElect * from {Table_name} where concat(toYear({col}),toMonth(Date)) >= select concat(toYear({col}),toMonth(Date)) from (select subtractMonths(Max(Date), 2) as Date from Sales_Trail) t1

In [ ]:
client.execute(f"SELECT * FROM {Table_name} WHERE date BETWEEN {min_date} AND {max_date}")

In [ ]:
date = datetime.datetime(2003,8,1,12,4,5)

for i in range(30): 
    date -= datetime.timedelta(days=1)
    print(date)

2003-07-31 12:04:05
2003-07-30 12:04:05
2003-07-29 12:04:05
2003-07-28 12:04:05
2003-07-27 12:04:05
2003-07-26 12:04:05
2003-07-25 12:04:05
2003-07-24 12:04:05
2003-07-23 12:04:05
2003-07-22 12:04:05
2003-07-21 12:04:05
2003-07-20 12:04:05
2003-07-19 12:04:05
2003-07-18 12:04:05
2003-07-17 12:04:05
2003-07-16 12:04:05
2003-07-15 12:04:05
2003-07-14 12:04:05
2003-07-13 12:04:05
2003-07-12 12:04:05
2003-07-11 12:04:05
2003-07-10 12:04:05
2003-07-09 12:04:05
2003-07-08 12:04:05
2003-07-07 12:04:05
2003-07-06 12:04:05
2003-07-05 12:04:05
2003-07-04 12:04:05
2003-07-03 12:04:05
2003-07-02 12:04:05

In [ ]:
from datetime import date

today = date.today()
today

datetime.date(2021, 3, 4)

In [ ]:
from datetime import date

today = date.today()

# dd/mm/YY
d1 = today.strftime("%d/%m/%Y")
print("d1 =", d1)

d1 = 04/03/2021

In [ ]:
data_frame(30,"04/03/2021")

TypeError: ignored

In [ ]:
def predictions_2(path,window_length,type_ , user_id):
    data = load_model_col(path)
    date = data['Date_'][0]
    data = data_frame(window_length,date)
    model = LoadModel(path,type_ , user_id)
    predictions = model.predict(data)
    return predictions[['ds','yhat']]

In [ ]:
ls = predictions_2('/content/GOOG',7,'local',1234)

In [ ]:
ls

          ds         yhat
0 2019-10-05  1244.251543
1 2019-10-06  1244.685272
2 2019-10-07  1248.890882
3 2019-10-08  1250.070120
4 2019-10-09  1250.803406
5 2019-10-10  1251.709928
6 2019-10-11  1252.111707

In [ ]:
import time,datetime

In [ ]:
import os,pickle

In [ ]:
# os.makedirs(path +'/forcasting',exist_ok =True)

In [ ]:
some_obj = {'columns_forcasting':['date_column','prediction_column'], 'Date_':['2020-13-25']}
os.makedirs('/content/sample_data/columns/',exist_ok =True)
pickle_out = open('/content/sample_data/columns' + '/colums.teja',"wb")
pickle.dump(some_obj, pickle_out)

In [ ]:
#path = '/content/sample_data'

In [ ]:
def save_model_col(path,some_obj):
    os.makedirs(path + '/columns/',exist_ok =True)
    with open(path + '/columns/' + '/mypickle.pickle', 'wb') as f:
        pickle.dump(some_obj, f)

In [ ]:
def load_model_col(path):
    with open(path + '/columns/' + '/mypickle.pickle', 'rb') as f:
        loaded_obj = pickle.load(f)
        return loaded_obj

In [ ]:
with open('/content/sample_data/columns/' +'mypickle.pickle','rb') as f:
    loaded_obj = pickle.load(f)

In [ ]:
loaded_obj

{'Date_': ['2020-13-25'],
 'columns_forcasting': ['date_column', 'prediction_column']}

In [ ]:
df = Data_set('/content/GOOG','Date','Close')

In [ ]:
some_obj = {'columns_forcasting':[date_column,prediction_column], 'Date_':[max_date]}

In [ ]:
df.head()

          ds          y
0 2004-08-19  49.982655
1 2004-08-20  53.952770
2 2004-08-23  54.495735
3 2004-08-24  52.239193
4 2004-08-25  52.802086

In [ ]:
df.dtypes

ds    datetime64[ns]
y            float64
dtype: object

In [ ]:
cl_ = []
cl_.append([i for i in df.columns])

In [ ]:
cl_

[['ds', 'y']]

In [ ]:
"""def Traning(path,date_column,prediction_column):
    df = Data_set(path,date_column,prediction_column)
    model = Prophet()  
    model.fit(df)
    model_name = cureent_date_time()
    with open(model_name, 'w') as fout:
        json.dump(model_to_json(model), fout) """

"def Traning(path,date_column,prediction_column):\n    df = Data_set(path,date_column,prediction_column)\n    model = Prophet()  \n    model.fit(df)\n    model_name = cureent_date_time()\n    with open(model_name, 'w') as fout:\n        json.dump(model_to_json(model), fout) "

In [ ]:
df = Data_set('/content/GOOG','Date','Close')

In [ ]:
import sys
orig_out = sys.stdout
sys.stdout = open(os.devnull, 'w')
#m.fit(df)
model = Prophet()
model.fit(df)
sys.stdout = orig_out

In [ ]:
def Traning(path,date_column,prediction_column,user_id,type_):
    df = Data_set(path,date_column,prediction_column)
    #import logging
    #logging.getLogger('fbprophet').setLevel(logging.WARNING)
    orig_out = sys.stdout
    sys.stdout = open(os.devnull, 'w')
    model = Prophet()  
    model.fit(df)
    sys.stdout = orig_out
    SaveModel(type_, path , user_id , model)
    return {'model saved Sucessfully'}

In [ ]:
#Traning('/content/GOOG','Date','Close',1245,'local')

In [ ]:
model = Prophet()
import logging
import warnings
warnings.simplefilter("ignore", DeprecationWarning)
warnings.simplefilter("ignore", FutureWarning)
logging.getLogger('fbprophet').setLevel(logging.ERROR)
logging.getLogger('fbprophet').setLevel(logging.WARNING)
model.fit(df)

In [1]:
# import logging
# from fbprophet import Prophet

# logging.getLogger('fbprophet').setLevel(logging.WARNING)

# model = Prophet()
# with self.suppress_stdout_stderr():
#     model.fit(df)

In [ ]:
import logging
from fbprophet import Prophet

logging.getLogger('fbprophet').setLevel(logging.WARNING)

model = Prophet()
with self.suppress_stdout_stderr():
    model.fit(fit_data)

In [ ]:
Traning('/content/GOOG','Date','Close',1245,'local')

INFO:numexpr.utils:NumExpr defaulting to 2 threads.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

local
/content/GOOG

{'model saved Sucessfully'}

In [ ]:
#'/content/GOOG.csv'.split('.')[0]

In [ ]:
"""def load_model(model_name):
    with open(model_name, 'r') as fin:
        model = model_from_json(json.load(fin))
    return model"""

In [ ]:
li = [date_column,prediction_column]
#predictios[li[0][1]]

In [ ]:
def prediction(path,date_column,prediction_column,window_size,type_,user_id):
    Df = Data_set(path,date_column,prediction_column)
    #model = load_model(model_name)
    #path = path.split('.')[0]
    path = path + '/forcasting/model.Teja'
    #print(path)
    model = LoadModel(path , type_ , user_id)
    future = model.make_future_dataframe(periods=window_size,include_history = False)
    predictios = model.predict(future)
    predictios['ds'] = predictios['ds'].astype(str)
    Table_val = predictios[['ds', 'yhat','yhat_lower', 'yhat_upper']]
    Forcasting_val = predictios[['ds','yhat']]
    return {'Blue':Df.to_dict(),'Red':Forcasting_val.to_dict(),'Table':Table_val.to_dict()}
    #return Df,Forcasting_val,Table_val
    #return Df.to_dict(),Forcasting_val.to_dict(),Table_val.to_dict()

In [ ]:
#prediction('/content/Churn_latest_modifed','date','CreditScore',7,'local',1234)

In [ ]:
df3['ds'] = pd.to_datetime(df3['ds']).dt.date

In [ ]:
df3['ds'] = df3['ds'].astype(str)

In [ ]:
#df3.to_dict()

In [ ]:
# Python
m = Prophet()
%time m.fit(df)

In [ ]:
# Python
future = m.make_future_dataframe(periods=365,include_history = False)
#future.head(50)

In [ ]:
future.shape

In [ ]:
future.tail()

In [ ]:
# Python
forecast = m.predict(future)

In [ ]:
#forecast.head()

In [ ]:
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].head()

In [ ]:
# Python
fig1 = m.plot(forecast)

In [ ]:
# Python
fig2 = m.plot_components(forecast)

In [ ]:
# Python
from fbprophet.plot import plot_plotly, plot_components_plotly

plot_plotly(m, forecast)

In [ ]:
# Python
plot_components_plotly(m, forecast)

In [ ]:
# Python
import json
from fbprophet.serialize import model_to_json, model_from_json

with open('serialized_model.json', 'w') as fout:
    json.dump(model_to_json(m), fout)  # Save model

with open('serialized_model.json', 'r') as fin:
    m = model_from_json(json.load(fin))  # Load model

In [ ]:
import pickle
with open('forecast_model.pckl', 'wb') as fout:
    pickle.dump(m, fout)